<!DOCTYPE html>
<html class="no-js">
    <head>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="header" class="scout-header"> 
            <h1>{% block header %}{% endblock %}</h1>

        </div>
        
        {% block content %}        
        {% endblock %}
           
            <div id="footer" class="scout-footer">
                <p class="text-muted credit">Courtesy of UW-IT ACA and HFS</p>
            </div>
        
        {% block extra_js %}         
        {% endblock %}
    </body>
</html>