<!DOCTYPE html>
<html class="no-js">
    <head>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="header" class="scout-header"> 
            <h1>{% block header %}{% endblock %}</h1>

        </div>
        
        {% block content %}        
        {% endblock %}
           
            <div id="footer" class="scout-footer">
                <p class="text-muted credit"><span>Courtesy of UW-IT ACA and HFS</span><span style="float:right;"><a href="mailto:help@uw.edu">Contact Support</a></span></p>
            </div>
        
        {% block extra_js %}         
        {% endblock %}
    </body>
</html>