[run]
source = scout_manager
parallel = True
omit =
    management/commands/addspotitems.py
    management/commands/importdata.py

[paths]
source =
  scout_manager/
  /app/scout_manager/

[report]
omit =
    management/commands/addspotitems.py
    management/commands/importdata.py
