-e git+https://github.com/uw-it-aca/scout.git@qa#egg=scout
-e git+https://github.com/uw-it-aca/spotseeker_client.git#egg=spotseeker-restclient
-e git+https://github.com/uw-it-aca/uw-restclients-spotseeker.git#egg=uw_restclients_spotseeker
-e .
