-e git+https://github.com/uw-it-aca/scout.git@develop#egg=scout
-e git+https://github.com/uw-it-aca/spotseeker_client.git#egg=spotseeker-restclient
-e git+https://github.com/uw-it-aca/uw-restclients.git#egg=RestClients
-e git+https://github.com/uw-it-aca/django-userservice.git
-e .
