<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>{% block title %}{% endblock %} &middot; Scout Manager</title>
        {% include "scout_manager/include/head.html" %}
    </head>
    <body {% if request.is_mobile or request.is_tablet %}data-mobile="true"{% endif %}>



        <div id="sidebar" class="mgr-sidebar">

            <div id="header" class="mgr-header">
                <h1><a href="/manager/">Scout Manager</a></h1>
            </div>

            <div class="mgr-sidebar-content">
                <h2>Spaces</h2>
                <ul>
                    <li><a href="/manager/spaces/?app_type=food">Food</a></li>
                    <li><a href="/manager/spaces/">Study</a></li>
                </ul>
            </div>

            <div id="footer" class="mgr-footer">
                <span>Courtesy of UW-IT ACA</span><span style="float:right;"><a href="mailto:help@uw.edu">Contact Support</a></span>
            </div>

        </div>


        <div id="content" class="mgr-content">
            {% block web_content %}{% endblock %}
        </div>



    </body>
</html>
