<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} &middot; Scout Manager</title>
        {% include "scout_manager/include/head.html" %}
    </head>
    <body {% if request.is_mobile or request.is_tablet %}data-mobile="true"{% endif %}>

        <div id="header" class="mgr-header">
            <h1><a href="/manager/">Scout<span>Manager</span></a></h1>
            <span class="mgr-user-name scope">{{ user.username }}</span>
            <button onclick="document.getElementById('sidebar').classList.toggle('mgr-sidebar-closed');" type="button" class="btn mgr-menu-button"><i class="fa fa-bars"></i></button>
        </div>

        <div id="sidebar" class="mgr-sidebar {% if request.is_mobile or request.is_tablet %}mgr-sidebar-closed{% endif %}">
            <div class="mgr-sidebar-actions">
                <h3 id="subheader_spaces"><small class="text-muted" style="padding: 15px 20px 0 20px; display:block;">Spaces</small></h3>
                <ul role="navigation" aria-labelledby="subheader_spaces">
                    <li><a class="" href="/manager/">View All Spaces</a></li>
                    <li><a class="" href="/manager/spaces/?app_type=food"><i class="fa fa-cutlery" aria-hidden="true"></i> Food</a></li>
                    <li><a class="" href="/manager/spaces/?app_type=study"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Study</a></li>                    
                    <li><a class="" href="/manager/spaces/?app_type=tech"><i class="fa fa-laptop" aria-hidden="true"></i> Tech</a></li>

                </ul>
                <ul style="font-weight:400;">
                    <li><a href="/manager/spaces/add/" role="button" title="Create new space"><i class="fa fa-plus" aria-hidden="true"></i> Add New Space</a></li>
                    <!--<li><a href="/manager/spaces/upload/"><i class="fa fa-upload" aria-hidden="true"></i> Upload Spaces</a></li>-->
                </ul>
                <h3 id="subheader_items"><small class="text-muted" style="padding: 15px 20px 0 20px; display:block;">Items</small></h3>
                <ul aria-labelledby="subheader_items">
                    <li><a class="" href="/manager/items/"><i class="fa fa-laptop" aria-hidden="true"></i> View All Items</a></li>
                </ul>
            </div>
        </div>

        <div id="content" class="mgr-content" role="main" aria-labelledby="sub_header">
            <div class="mgr-content-inner container-fluid">
                {% block web_content %}{% endblock %}
            </div>
        </div>

        <div id="footer" class="mgr-footer" role="contentinfo">
            <p>Copyright &copy; {% now "Y" %}  <span>Courtesy of UW-IT AXDD</span><span style="float:right;"><a href="mailto:help@uw.edu">Contact Support</a></span><span><a href="http://www.washington.edu/online/privacy/">Privacy</a></span> <span><a href="http://www.washington.edu/online/terms/">Terms</a></span></p>
        </div>

    </body>
</html>
