{% extends "scout_manager/base.html" %}
{% load staticfiles %}

{% block title %}Welcome{% endblock %}

{% block web_content %}
<p>This is the app home. It has your list of spaces and items that you manage.</p>

<div style="min-height:100px; border: solid 1px #eee;" id="spaces">
    <p class="visually-hidden">loading...</p>
    <div class="sk-fading-circle" aria-hidden="true">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>
</div>

<br/>
<br/>

<div style="min-height:100px; border: solid 1px #eee;" id="items">
    <p class="visually-hidden">loading...</p>
    <div class="sk-fading-circle" aria-hidden="true">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>
</div>

{% endblock %}
