{% extends "scout_manager/base.html" %}
{% load staticfiles %}

{% block title %}Items{% endblock %}

{% block web_content %}

<div class="mgr-content-header clearfix">

    <h2 class="pull-left">Items: STF Funded</h2>

    <div class="pull-right">
    Total: <span class="">{{ count }}</span>
    </div>

</div>

<div style="margin-top: 15px;" class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Sub Category (type)</th>
                <th>Location (space)</th>
                <th>Campus</th>
                <th>Building</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>

        {% for spot in spots %}
            {% for item in spot.items %}
            <tr>
                <td><a href="/manager/items/{{item.item_id}}/">{{ item.item_id }}</a></td>
                <td><strong>{{ item.name }}</strong></td>
                <td>{{ item.subcategory }}</td>
                <td>{{ spot.name }}</td>
                <td>{{ spot.campus }}</td>
                <td>{{ spot.building_name }}</td>
                <td>{{ item.is_active }}</td>
            </tr>
            {% endfor %}
        {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}
