{% extends "scout_manager/base.html" %}
{% load staticfiles %}

{% block web_content %}
<p>This is add.html. You step through this page to add items/spaces.</p>

<h2>Add Space/Item</h2>
 <form>
     <h3>General location info:</h3>
     <div>
        <label for="space-campus" required>Campus:</label>
        <select>
            <option>Bothell</option>
            <option selected>Seattle</option>
            <option>South Lake Union</option>
            <option>Tacoma</option>
        </select>
    </div>
    <div>
        <label><input type="checkbox" value="Outdoor">Outdoor location</label>
    </div>
    <div>
        <!-- Hide if outdoor location. We suggest/enforce building options based on campus. -->
        <label for="building-name">Building:</label><input id="building-name" type="text">
    </div>
 </form>
 <div>
<!-- Hide until outdoor or a building selected. List is constrained to campus and outdoor spaces or spaces w/in a building. -->
<div>
    <h3>Select the space:</h3>
    <div>Total: <span class="dummy">Total # of spaces list</span></div>
    <ol><!-- list by floor. -->
        <li><h4 class="dummy">Floor_# 1</h4>
            <ol>
                <li>
                    <a href="/manager/space/{{ spot.spot_id }}">
                        <div>Name: <span class="dummy">spot.name</span></div>
                        <div>Building:<span class="dummy">building_name</span></div>
                        <div>Room #: <span class="dummy">room_#</span></div>
                        <div>Type:<span class="dummy">spot.type.name <!--could be multiple --></span></div>
                        <div>Items:<span class="dummy">has_items (Yes or No)</span><span class="dummy">item_type.name <!--could be multiple --></span></div>
                        <div><span>If published: <a href="/scout/space/{{ spot.spot_id }}" target="_blank">view in client</span></div>
                    </a>
                </li>
            </ol>
        </li>
        <li><h4 class="dummy">Floor_# 2</h4>
            <ol>
                <li>
                    <a href="/manager/space/{{ spot.spot_id }}">
                        <div>Name: <span class="dummy">spot.name</span></div>
                        <div>Building:<span class="dummy">building_name</span></div>
                        <div>Room #: <span class="dummy">room_#</span></div>
                        <div>Type:<span class="dummy">spot.type.name <!--could be multiple --></span></div>
                        <div>Items:<span class="dummy">has_items (Yes or No)</span><span class="dummy">item_type.name <!--could be multiple --></span></div>
                        <div><span>If published: <a href="/scout/space/{{ spot.spot_id }}" target="_blank">view in client</span></div>
                    </a>
                </li>
            </ol>
        </li>
    </ol>
    <div>
        <p>Not seeing the location?<a href="/manager/spaces/add/">Create New Space <!-- Pass on entered location info (campus, outdoor/building. --></a></p>
    </div>
 </div>

{% endblock %}
