{% extends "scout_manager/base.html" %} {% load staticfiles %} {% block web_content %}
<p>This is add.html. You step through this page to add items/spaces.</p>

<h2>Add new Item</h2>
<form>

    <h3>General Information</h3>
    <div>
        <label for="item-name">Name:</label>
        <input id="item-name" type="text" required>
    </div>
    <div>
        <label for="item-quantity">Quantity:</label>
        <input id="item-quantity" type="number" required>
    </div>
    <div>
        {# How are we determining this? #}
        <label>
            <input type="checkbox" value="STF">STF Funded</label>
    </div>


    <h3>Select the space:</h3>
    <div>Total: <span class="dummy">Total # of spaces list</span></div>
    <select id="item-category" required>
        <option>space 1</option>
        <option>space 2</option>
        <option>space 3</option>
        <option>...</option>
    </select>
    <div>
        <p>Not seeing the location? <a href="/manager/spaces/add/">Create New Space <!-- Pass on entered location info (campus, outdoor/building. --></a></p>
    </div>

    <h3>Item Description</h3>
    <div>
        <label for="item-category">Category of Item:</label>
        <!-- list of ACA predefined categories -->
        <select id="item-category" required>
            <option>Prototyping</option>
            <option>Defined Category 2</option>
            <option>...</option>
        </select>
    </div>
    <div>
        <label for="item-type">Type of Item:</label>
        <input id="item-type" type="text" list="item-type-list" required>
        <!-- list of predefined types, based on selected category. -->
        <datalist id="item-type-list">
            <option>3D printer</option>
            <option>Defined Type 2</option>
            <option>...</option>
        </datalist>
    </div>
    <div>
        <label for="item-description">Description:</label>
        <br/>
        <textarea id="item-description" type="text"></textarea>
    </div>

    <h3>VALIDATION: Incomplete items</h3>
    <p>You must complete </p>
    <ul>
        <li class="dummy">
            Invalid field name 1
        </li>
        <li class="dummy">
            Invalid field name 2
        </li>
    </ul>

    <h3>Item Actions</h3>

    <a href="/">Cancel</a>
    <input type="submit" value="Save Changes"></input>
    </div>
</form>



{% endblock %}
