{% extends "scout_manager/base.html" %}
{% load staticfiles %}

{% block title %}Items{% endblock %}

{% block web_content %}

<div class="mgr-content-header clearfix">

    <h2 class="pull-left">Items: Technology STF</h2>

    <div class="pull-right">
    Total: <span class="scope">{{ count }}xxxxxxx</span>
    </div>

</div>

<div style="margin-top: 15px;" class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</td>
                <th>Name</td>
                <th>Type</td>
                <th>Category</td>
                <th>Brand</td>
                <th>Model</td>
                <th><span class="sr-only">Actions</span></td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><a class="scope" href="/manager/items/1234/">0001</a></td>
                <td>Solidoodle 4 (Black)</td>
                <td>Printer</td>
                <td>3d Printer</td>
                <td>Solidoodle</td>
                <td>4</td>
                <td>
                    <div class="mgr-dataset-actions">
                        <button type="button" class="btn btn-danger btn-sm scope"><i class="fa fa-trash"></i> <span>Delete</span></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a class="scope" href="/manager/items/1234/">0002</a></td>
                <td>Nikon D7000 DSLR Camera</td>
                <td>Digital Camera</td>
                <td>Camera</td>
                <td>Nikon</td>
                <td>D7000</td>
                <td>
                    <div class="mgr-dataset-actions">
                        <button type="button" class="btn btn-danger btn-sm scope"><i class="fa fa-trash"></i> <span>Delete</span></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a class="scope" href="/manager/items/1234/">0003</a></td>
                <td>Apple Macbook Pro 2011</td>
                <td>Laptop</td>
                <td>Cool Laptops</td>
                <td>Apple</td>
                <td>Macbook Pro</td>
                <td>
                    <div class="mgr-dataset-actions">
                        <button type="button" class="btn btn-danger btn-sm scope"><i class="fa fa-trash"></i> <span>Delete</span></button>
                    </div>
                </td>
            </tr>

            {% for item in items %}
            <tr>
                <td>{{ item.item_id }}</a></td>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.sub_category }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.model }}</td>
                <td>
                    <div class="mgr-dataset-actions">
                        <button type="button" class="btn btn-danger btn-sm scope"><i class="fa fa-trash"></i> <span>Delete</span></button>
                    </div>
                </td>
            </tr>
            {% empty %}
            There are no items for you to see!
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}
