{% extends "scout_manager/base.html" %}
{% load staticfiles %}

{% block title %}Schedule changes{% endblock %}

{% block web_content %}

<h2>Scheduled changes for <span class="">{{ spot.name }}</span></h2>

<!-- IF has planned change.  -->
<p>These edits are set to be published:</p>
<ol>
    <li><a href="/manager/schedule/{{ spot.spot_id }}/1234/">Scheduled for July 6, 2016 @ 10:45am</a></li>
    <li><a href="/manager/schedule/{{ spot.spot_id }}/5678/">Scheduled for July 8, 2016 @ 09:45pm</a></li>
</ol>


<br><br><br>

<h2>New changes</h2>
<form>

    <h3>Current Alert</h3>
    <label for="alert-notes">Post this Alert message:
        <textarea id="alert-notes" name="extended_info:alert_notes" type="text" value="{{ spot.alert_notes }}"></textarea>
    </label>

    <h3>Hours and Access</h3>
    <div>
        <!-- button to prepopulate hours widget w/ current space hours -->
        <input type="button" value="Import currently published hours"></input>
    </div>

    <div style="line-height:200px;">
        hours go here!
    </div>

    <label for="hours-notes">Hours Notes/Exceptions:
        <textarea id="hours-notes"name="extended_info:hours_notes">{{spot.hours_notes}}</textarea>
    </label>

    <!--  if "food" space -->
    <h3>Food space metadata</h3>
    <div>

        <div>
            <label for="menu-url">Menu URL:</label><input id="menu-url" type="url">
        </div>

        <fieldset>
            <legend>Coupons</legend>
            <label for="coupon-url">Coupon URL:</label><input id="coupon-url" type="url">
            <label for="coupon-date">Expiration Date:</label><input id="coupon-date" type="date">
        </fieldset>
    </div>

    <h3>Publish Date</h3>
    <div>
       <label for="publish-date">Publish changes on:</label><input id="publish-date" type="date">
    </div>

    <h3>Space Actions</h3>
    <div class="dummy" style="margin-bottom:2em;">
        <input type="submit" value="Save Changes" />
        <input type="button" value="Cancel" />
    </div>

</form>

{% endblock %}
