{% extends "scout_manager/base.html" %}
{% load staticfiles %}

{% block title %}Add space{% endblock %}

{% block web_content %}

<h2>Add New Space</h2>
<form>

    <h3>General Info</h3>

    <label for="space-name">Name:
        <input id="space-name" type="text" value="" required>
    </label>

    <label for="space-campus" required>Campus:
        <select>
            <option value="seattle">Seattle</option>
            <option value="bothell">Bothell</option>
            <option value="south_lake_union">South Lake Union</option>
            <option value="tacoma">Tacoma</option>
        </select>
    </label>

    <fieldset>
        <legend>Location:</legend>

        <label for="space-latitude">Latitude
            <input id="space-latitude" type="text" value="" required>
        </label>

        <label for="space-longitude">Longitude
            <input id="space-longitude" type="text" value="" required>
        </label>

    </fieldset>

    {# How are we determining this? #}
    <label><input type="checkbox" value="Outdoor">Outdoor location</label>

    <!-- Hide if outdoor location -->
    <label for="room-number">Room #:
        <input id="room-number" type="text" value="">
    </label>

    <!-- Hide if outdoor location. We suggest/enforce building options. -->
    <label for="building-name">Building:
        <input id="building-name" type="text" value="">
    </label>


    <!-- Hide if outdoor location. We suggest floor options. -->
    <label for="floor">Floor:
        <input id="floor" type="text" value="">
    </label>

    {# How are we determining this? #}
    <label><input type="checkbox" value="ADA">ADA Accessible</label>

    <h3>Space Description</h3>

    <label for="space-description">Description:
        <textarea id="space-description" type="text"></textarea>
    </label>

    <fieldset>
        <legend>Primary use:</legend>
        <label><input type="checkbox" value="Food">Food Space</label>
        <label><input type="checkbox" value="Study">Study Space</label>
        <label><input type="checkbox" value="Other">Other</label>
    </fieldset>


    <label for="space-types">Type of space:
        <select id="space-types">
            <option>Space Type 1</option>
            <option>Space Type 2</option>
            <option>Space Type 3</option>
            <option>Space Type 4</option>
        </select>
    </label>

    <h3>Space Administration</h3>
    <fieldset>
        <legend>Contact Info</legend>

        <label for="manager-name">Manager Name:
            <input id="manager-name" type="type">
        </label>

        <label for="phone">Phone:
            <input id="phone" type="tel">
        </label>

        <label for="email">Email:
            <input id="email" type="email">
        </label>

        <label for="website">Website URL:
            <input id="website" type="url">
        </label>
    </fieldset>

    <label for="admin-group">Administrators of Space Information (UW Group):
        <input id="admin-group" type="text">
    </label>

    <h3>VALIDATION: Incomplete items</h3>
    <p>You must complete </p>
    <ul>
        <li class="dummy">Invalid field name 1</li>
        <li class="dummy">Invalid field name 2</li>
    </ul>

    <h3>ACTIONS</h3>
    <div>
        <input type="submit" value="Save" />
        <input type="button" value="Cancel" />
    </div>

</form>

{% endblock %}
