{% extends "scout_manager/base.html" %}
{% load staticfiles %}

{% block web_content %}
<p>This is add.html. You step through this page to add items/spaces.</p>

<h2>Add Space</h2>
 <form>
     <h3>General location info:</h3>
     <div>
        <label for="space-campus" required>Campus:</label>
        <select>
            <option>Bothell</option>
            <option selected>Seattle</option>
            <option>South Lake Union</option>
            <option>Tacoma</option>
        </select>
    </div>
    <div>
        <label><input type="checkbox" value="Outdoor">Outdoor location</label>
    </div>
    <div>
        <!-- Hide if outdoor location. We suggest/enforce building options based on campus. -->
        <label for="building-name">Building:</label><input id="building-name" type="text">
    </div>
 </form>
 <div>

<h3>General Info</h3>

<div>space form here (same as edit)</div>

{% endblock %}
