{% extends "scout_manager/base.html" %}
{% load staticfiles %}

{% block title %}Upload Spaces{% endblock %}

{% block web_content %}

<form>

<div class="clearfix sticky" style="margin-bottom:1em;">

    <h2 class="pull-left" id="sub_header">
        <span class="fa-stack fa-lg" style="position:relative; margin-top:-3px;">
            <i class="fa fa-circle fa-stack-2x"></i>

            <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
        </span>
        Upload Spaces
    </h2>

    <div class="pull-right">
        <input type="button" class="btn btn-primary scope" value="Save Changes" style="display:inline-block;"></input>
    </div>

</div>

<div class="row">

    <div class="col-md-6 scope">sdkjflkalkjsdfa</div>
    <div class="col-md-6 scope">asdfas</div>

</div>

</form>

{% endblock %}
