{% extends "scout_manager/base.html" %}
{% load staticfiles %}

{% block title %}{{ spot.name }}{% endblock %}

{% block web_content %}

<h2>{{ spot.name }}</h2>

<form>

    <h3>Scheduled changes (only if published)</h3>

    <fieldset>
        <legend>Scheduled updates</legend>

        <p>These edits are set to be published:</p>

        <ol class="dummy">
            <li><a href="/manager/spaces/{{ spot.spot_id }}/schedule/20160516/">July 6, 2016</a></li>
            <li><a href="/manager/spaces/{{ spot.spot_id }}/schedule/20160516/">July 8, 2016</a></li>
        </ol>

        <p class="scope"><a href="/manager/spaces/{{ spot.spot_id }}/schedule/new/">schedule new changes</a></p>

    </fieldset>


    {% include "scout_manager/include/spaces_add_edit.html" %}

</form>
{% endblock %}
