{% extends "scout_manager/base.html" %}
{% load staticfiles %}

{% block title %}{{ spot.name }}{% endblock %}

{% block web_content %}

<h2>{{ spot.name }}</h2>

<form>

    <!-- out of scope for now
    <h3>Scheduled changes (only if published)</h3>

    <fieldset class="dummy">
        <legend>Scheduled updates</legend>

        <p>These edits are set to be published on <span class="dummy">planned_edit.date</span>.</p>

        <ol class="dummy">
            <li><a href="/manager/schedule/{{ spot.spot_id }}/">Scheduled for July 6, 2016 @ 10:45am</a></li>
        </ol>

        <p><a href="/manager/schedule/{{ spot.spot_id }}/">schedule  planned changes</a></p>

    </fieldset>
    -->

    <h3>General Info</h3>

    <label for="space-name">Name:
        <input id="space-name" type="text" value="{{ spot.name }}" required="required">
    </label>

    <fieldset class="scope">

        <p class="dummy">extended_info:app_type ??</p>

        <legend>Primary use: (required)</legend>
        <label><input type="checkbox" value="food">Food</label>
        <label><input type="checkbox" value="study">Study</label>
        <label><input type="checkbox" value="other">Other (neither food or study.. tied to stuff, since stuff must belong in a spot)</label>
    </fieldset>

    <label for="space-description">Description:
        <textarea id="space-description" type="text">{{spot.location_description}}</textarea>
    </label>

    <fieldset>

        <legend>Images</legend>

        <label class="scope">Choose: <input type="file" name="" accept="image/*">
            <input type="button" value="Upload image"></input>
        </label>

        <p>Uploaded images:</p>

        <ul>
            {% for image in spot.images %}
             <li>
                 <img src="/images/{{ spot.spot_id }}/image/{{ image.image_id }}?width=100">
                 <label for="study-default-image-1" class="scope"><input type="radio" name="default-study-img" id="study-default-image-1">default</label>
                 <input type="button" value="Delete image" class="scope"></input>
             </li>
            {% endfor %}
        </ul>


    </fieldset>

    <fieldset>
        <legend>Location:</legend>

        <label for="space-campus" required>Campus:
            <select>
                <option disabled selected value>select a campus...</option>
                <option value="seattle" {% if spot.campus == "seattle" %} selected {% endif %}>Seattle</option>
                <option value="bothell" {% if spot.campus == "bothell" %} selected {% endif %}>Bothell</option>
                <option value="south_lake_union" {% if spot.campus == "south_lake_union" %} selected {% endif %}>South Lake Union</option>
                <option value="tacoma" {% if spot.campus == "tacoma" %} selected {% endif %}>Tacoma</option>
            </select>
        </label>

        <label for="space-latitude">Latitude
            <input id="space-latitude" type="text" value="{{ spot.latitude }}" required />
        </label>

        <label for="space-longitude">Longitude
            <input id="space-longitude" type="text" value="{{ spot.longitude }}" required />
        </label>

        {# How are we determining this? #}
        <label class="dummy"><input type="checkbox" value="Outdoor">Outdoor location</label>

        <!-- Hide if outdoor location. We suggest/enforce building options. -->
        <label for="building-name" class="scope">Building: {{ spot.building_name }}
            <select>
                <option disabled selected value>select a building...</option>
                <option value="" {% if spot.building_name == "Odegaard Undergraduate Library (OUGL)" %} selected {% endif %}>Odegaard Undergraduate Library (OUGL)</option>
                <option value="" {% if spot.building_name == "Husky Union Building (HUB)" %} selected {% endif %}>Husky Union Building (HUB)</option>
                <option value="" {% if spot.building_name == "Elm Hall" %} selected {% endif %}>Elm Hall</option>
                <option value="">building_name</option>
                <option value="">building_name</option>
                <option value="">building_name</option>
                <option value="">building_name</option>
                <option value="">building_name</option>
                <option value="">building_name</option>
            </select>
        </label>

        <!-- Hide if outdoor location. We suggest floor options. -->
        <label for="floor">Floor:
            <input id="floor" type="text" value="{{ spot.floor }}">
        </label>

        <!-- Hide if outdoor location -->
        <label for="room-number">Room #:
            <input id="room-number" type="text" value="{{ spot.room_number }}">
        </label>

        {# How are we determining this? #}
        <label class="dummy"><input type="checkbox" value="ADA">ADA Accessible</label>

    </fieldset>

    <h3>Current Alert</h3> {# we need to set has_alert too to show it #}
    <label><input type="checkbox" value="has_alert" {% if spot.has_alert %}checked{% endif %}>Alert Enabled</label>

    <label for="alert-notes">Post this Alert message:
        <textarea id="alert-notes" type="text" value="{{ spot.alert_notes }}"></textarea>
    </label>

    <h3>Hours and Access</h3>

    <fieldset class="scope mgr-hours">
        <legend>Monday:</legend>
        <ul>
            <li class="flex-container">
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
            </li>
        </ul>
        <input type="button" value="clear hours" title="clear hours">
    </fieldset>

    <fieldset class="scope mgr-hours">
        <legend>Tuesday:</legend>
        <ul>
            <li class="flex-container">
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
            </li>
        </ul>
        <input type="button" value="clear hours" title="clear hours">
    </fieldset>

    <fieldset class="scope mgr-hours">
        <legend>Wednesday:</legend>
        <ul>
            <li class="flex-container">
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
            </li>
        </ul>
        <input type="button" value="clear hours" title="clear hours">
    </fieldset>

    <fieldset class="scope mgr-hours">
        <legend>Thursday:</legend>
        <ul>
            <li class="flex-container">
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
            </li>
        </ul>
        <input type="button" value="clear hours" title="clear hours">
    </fieldset>

    <fieldset class="scope mgr-hours">
        <legend>Friday:</legend>
        <ul>
            <li class="flex-container">
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
            </li>
        </ul>
        <input type="button" value="clear hours" title="clear hours">
    </fieldset>

    <fieldset class="scope mgr-hours">
        <legend>Saturday:</legend>
        <ul>
            <li class="flex-container">
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
            </li>
        </ul>
        <input type="button" value="clear hours" title="clear hours">
    </fieldset>

    <fieldset class="scope mgr-hours">
        <legend>Sunday:</legend>
        <ul>
            <li class="flex-container">
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
                <div class="flex-item">
                    <label for="">Open:<input type="time" name="" /></label>
                    <label for="">Close:<input type="time" name="" /></label>
                </div>
            </li>
        </ul>
        <input type="button" value="clear hours" title="clear hours">
    </fieldset>

    <label for="hours-notes">Hours Notes/Exceptions:
        <textarea id="hours-notes">{{spot.hours_notes}}</textarea>
    </label>

    <label for="access-notes">Access Notes:
        <textarea id="access-notes">{{spot.access_notes}}</textarea>
    </label>


    <div class="flex-container">
    	<div class="flex-item">

            <!--  if "food" app_type -->
            <h3>Food space metadata</h3>

            <label for="space-types" class="scope">Type of space:
                <fieldset>
                    <legend>Food spot types</legend>
                    <div id="food_spot_types">

                        {{ spot.spot_types }}

                        <label><input type="checkbox" {% if "cafe" in spot.spot_types %} checked {% endif %} value="cafe">Cafe</label>
                        <label><input type="checkbox" {% if "food_court" in spot.spot_types %} checked {% endif %} value="food_court">Food Court</label>
                        <label><input type="checkbox" {% if "food_truck" in spot.spot_types %} checked {% endif %} value="food_truck">Food Truck</label>
                        <label><input type="checkbox" {% if "market" in spot.spot_types %} checked {% endif %} value="market">Market</label>
                        <label><input type="checkbox" {% if "restaurant" in spot.spot_types %} checked {% endif %} value="restaurant">Restaurant</label>
                        <label><input type="checkbox" {% if "cafeteria" in spot.spot_types %} checked {% endif %} value="cafeteria">Cafeteria</label>

                    </div>

                </fieldset>
            </label>

            <fieldset>
                <legend>Cuisine</legend>
                <label><input type="checkbox" {% if "American" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_american">American</label>
                <label><input type="checkbox" {% if "BBQ" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_bbq">BBQ</label>
                <label><input type="checkbox" {% if "Chinese" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_chinese">Chinese</label>
                <label><input type="checkbox" {% if "Indian" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_indian">Indian</label>
                <label><input type="checkbox" {% if "Italian" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_italian">Italian</label>
                <label><input type="checkbox" {% if "Korean" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_korean">Korean</label>
                <label><input type="checkbox" {% if "Mexian" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_mexican">Mexican</label>
                <label><input type="checkbox" {% if "Vietnamese" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_vietnamese">Vietnamese</label>
            </fieldset>

            <label for="website">Website URL: <input id="website" type="url" value="{{spot.website_url}}" /></label>

            <label for="menu-url">Menu URL:<input id="menu-url" type="url" value="{{spot.menu_url}}" /></label>

            <fieldset>
                <legend>Food served</legend>
                <div id="food_select">
                    <label><input type="checkbox" {% if "Burgers" in spot.foodtype_names %} checked {% endif %} value="s_food_burgers">Burgers</label>
                    <label><input type="checkbox" {% if "Breakfast" in spot.foodtype_names %} checked {% endif %} value="s_food_breakfast">Breakfast</label>
                    <label><input type="checkbox" {% if "Curry" in spot.foodtype_names %} checked {% endif %} value="s_food_curry">Curry</label>
                    <label><input type="checkbox" {% if "Dessers" in spot.foodtype_names %} checked {% endif %} value="s_food_desserts">Desserts</label>
                    <label><input type="checkbox" {% if "Entrees" in spot.foodtype_names %} checked {% endif %} value="s_food_entrees">Entrees</label>
                    <label><input type="checkbox" {% if "Espresso" in spot.foodtype_names %} checked {% endif %} value="s_food_espresso">Espresso</label>
                    <label><input type="checkbox" {% if "Frozen Yogurt" in spot.foodtype_names %} checked {% endif %} value="s_food_frozen_yogurt">Frozen Yogurt</label>
                    <label><input type="checkbox" {% if "Pasta" in spot.foodtype_names %} checked {% endif %} value="s_food_pasta">Pasta</label>
                    <label><input type="checkbox" {% if "Pastries" in spot.foodtype_names %} checked {% endif %} value="s_food_pastries">Pastries</label>
                    <label><input type="checkbox" {% if "Pho" in spot.foodtype_names %} checked {% endif %} value="s_food_pho">Pho</label>
                    <label><input type="checkbox" {% if "Pizza" in spot.foodtype_names %} checked {% endif %} value="s_food_pizza">Pizza</label>
                    <label><input type="checkbox" {% if "Salad" in spot.foodtype_names %} checked {% endif %} value="s_food_salads">Salads</label>
                    <label><input type="checkbox" {% if "Sandwiches" in spot.foodtype_names %} checked {% endif %} value="s_food_sandwiches">Sandwiches</label>
                    <label><input type="checkbox" {% if "Smoothies" in spot.foodtype_names %} checked {% endif %} value="s_food_smoothies">Smoothies</label>
                    <label><input type="checkbox" {% if "Sushi (packaged)" in spot.foodtype_names %} checked {% endif %} value="s_food_sushi_packaged">Sushi (packaged)</label>
                    <label><input type="checkbox" {% if "Tacos" in spot.foodtype_names %} checked {% endif %} value="s_food_tacos">Tacos</label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Coupons</legend>
                <label for="coupon-url">Coupon URL:
                    <input id="coupon-url" type="url" value="{{ spot.coupon_url }}" />
                </label>
                <label for="coupon-date">Expiration Date:
                    <input id="coupon-date" type="date" value="{{ spot.coupon_expiration }}" placeholder="mm/dd/yyyy" />
                </label>
            </fieldset>

            <fieldset>
                <legend>Reservations</legend>
                <label for="has-reservations-food">
                    <input id="has-reservations-food" type="checkbox" {% if spot.has_reservation %}checked{% endif%} />Accepts Reservations</label>
                <label for="reservation-notes-food">Reservation Notes:
                    <textarea id="reservation-notes-food">{{spot.reservation_notes}}</textarea>
                </label>
            </fieldset>

            <fieldset>
                <legend>Payment Type</legend>
                <label><input type="checkbox" {% if "Cash" in spot.payment_names %} checked {% endif %} value="s_pay_cash">Cash</label>
                <label><input type="checkbox" {% if "Husky Card" in spot.payment_names %} checked {% endif %} value="s_pay_husky">Husky Card</label>
                <label><input type="checkbox" {% if "Dining Card" in spot.payment_names %} checked {% endif %} value="s_pay_dining">Dining Card</label>
                <label><input type="checkbox" {% if "Visa" in spot.payment_names %} checked {% endif %} value="s_pay_visa">Visa</label>
                <label><input type="checkbox" {% if "Mastercard" in spot.payment_names %} checked {% endif %} value="s_pay_mastercard">Mastercard</label>
            </fieldset>

        </div>
    	<div class="flex-item">

            <!--  if "study" app_type -->
            <h3>Study space metadata</h3>

            <label for="space-types" class="dummy">Type of space:
                <fieldset>
                    <legend>Study spot types</legend>
                    <div id="food_spot_types">
                        <label><input type="checkbox" value="xxxxx">Study room</label>
                        <label><input type="checkbox" value="xxxxx">Study area</label>
                        <label><input type="checkbox" value="xxxxx">Computer lab</label>
                        <label><input type="checkbox" value="xxxxx">Production studio</label>
                        <label><input type="checkbox" value="xxxxx">Conference/classroom</label>
                        <label><input type="checkbox" value="xxxxx">Open space</label>
                        <label><input type="checkbox" value="xxxxx">Lounge</label>
                        <label><input type="checkbox" value="xxxxx">Cafe</label>
                        <label><input type="checkbox" value="xxxxx">Outdoor area</label>
                    </div>
                </fieldset>
            </label>

            <!-- if computer_lab -->
            <label for="computer-count" class="dummy"># of computers
                <input type="number" id="computer-count">
            </label>

            <label for="capacity" class="dummy">Capacity
                <input type="number" id="capacity">
            </label>

            <fieldset class="dummy">
                <legend>Has Resources:</legend>
                <label>
                    <input type="checkbox" value="computer">Computer</label>
                <label>
                    <input type="checkbox" value="display">Large Display (for laptop)</label>
                <label>
                    <input type="checkbox" value="outlets">Outlets</label>
                <label>
                    <input type="checkbox" value="printing">Printing</label>
                <label>
                    <input type="checkbox" value="projector">Projector</label>
                <label>
                    <input type="checkbox" value="scanning">Scanning</label>
                <label>
                    <input type="checkbox" value="whiteboard">Whiteboard</label>
            </fieldset>

            <fieldset class="dummy">
                <legend>Lighting</legend>
                <label>
                    <input type="checkbox" name="lighting" value="natural">Has Natural Light</label>
            </fieldset>

            <fieldset class="dummy">
                <legend>Noise Level</legend>
                <label><input type="radio" name="noise" value="noise_level1">noise_level 1 (Silent)</label>
                <label><input type="radio" name="noise" value="noise_level2">noise_level 2 (Low hum)</label>
                <label><input type="radio" name="noise" value="noise_level3">noise_level 3 (Chatter)</label>
            </fieldset>

            <fieldset class="dummy">
                <legend>Labstats</legend>
                <label for="has-labstats">Labstats integration URL
                    <input id="has-labstats" type="url">
                </label>
                <label for="labstats-id">Labstats ID:
                    <input id="labstats-id" type="text">
                </label>
            </fieldset>

            <fieldset class="dummy">
                <legend>Reservations</legend>
                <label for="has-reservations-study">
                    <input id="has-reservations-study" type="checkbox">Can Reserve Space</label>
                <label for="reservation-notes-study">Reservation Notes:
                    <textarea id="reservation-notes-study"></textarea>
                </label>
            </fieldset>

        </div>
    </div>

    <h3>Space Administration</h3>

    <fieldset>
        <legend>Contact Info</legend>

        <label for="manager-name" class="scope">Manager Name:<input id="manager-name" type="text"></label>
        <label for="phone" class="">Phone:<input id="phone" type="tel" value="{{ spot.phone }}"></label>
        <label for="email" class="scope">Email:<input id="email" type="email"></label>
        <label for="admin-group" class="dummy">Administrators of Space Information (UW Group):<input id="admin-group" type="text"></label>

    </fieldset>

    <h3>Stuff Integration</h3>

    <fieldset>
        <legend>Items</legend>
        <p><a href="/manager/items/add/">Add New Item</a></p>
        <!--  if has_items -->
        <p>Total: <span class="dummy">Total # of items in items list</span></p>
        <ol>
            <li>
                <div><a href="/manager/items/601234">Edit</a></div>
                <div>Name: <span class="dummy">item.name</span></div>
                <div>Type:<span class="dummy">item_type.name</span></div>
                <div>Category:<span class="dummy">item_category.name</span></div>
                <div>Brand:<span class="dummy">item.brand</span></div>
                <div>Model:<span class="dummy">item.model</span></div>
                <div>Quantity:<span class="dummy">item.quantity</span></div>
                <div>STF Funded: <span class="dummy">Yes</span></div>
                <div>
                    <input type="button" value="Delete item" class="dummy"></input>
                </div>
            </li>
            <li>
                <div><a href="/manager/items/475786">Edit</a></div>
                <div>Name: <span class="dummy">item.name</span></div>
                <div>Type:<span class="dummy">item_type.name</span></div>
                <div>Category:<span class="dummy">item_category.name</span></div>
                <div>Brand:<span class="dummy">item.brand</span></div>
                <div>Model:<span class="dummy">item.model</span></div>
                <div>Quantity:<span class="dummy">item.quantity</span></div>
                <div>STF Funded: <span class="dummy">Yes</span></div>
                <div>
                    <input type="button" value="Delete item" class="dummy"></input>
                </div>
            </li>
        </ol>
    </fieldset>



    <h3>Space Actions</h3>
    <!-- When a user clicks to change status to PUBLISH, then we should validate form. It would be ideal to provide them with a condensed list of required and invalid fields that they need to address (maybe as intersticial, which they can cancel from. -->
    <p>Publish Status: <span class="scope">Published</span>&nbsp;<span class="scope">Unpublished</span></p>
    <p><span>If published: <a href="/detail/{{ spot.spot_id }}">view in client</a></span></p>

        <div class="scope" style="margin-bottom:2em;">
            <!-- if UNPUBLISHED -->
            <input type="button" value="Publish"></input>
            <!-- Publish will be conditional to form validation -->
            <!-- if PUBLISHED space WITH changes. Validate form. -->
            <input type="submit" value="Publish Changes"></input>
            <!-- if PUBLISHED -->
            <input type="button" value="Unpublish"></input>
        </div>

        <div class="dummy" style="margin-bottom:2em;">
            <input type="submit" value="Save Changes" />
            <input type="button" value="Cancel" />
        </div>

        <div class="dummy" style="margin-bottom:2em;">
            <input type="button" value="Download CSV of Space"></input>
        </div>

        <div class="dummy">
            <input type="button" value="Delete Space"></input>
        </div>


    <h3>Incomplete items</h3>
    <p>You must complete </p>
    <ul class="dummy">
        <li>Invalid field name 1</li>
        <li>Invalid field name 2</li>
    </ul>

</form>
{% endblock %}
