{% extends "scout_manager/base.html" %}
{% load staticfiles %}

{% block title %}Spaces{% endblock %}

{% block web_content %}

<div class="mgr-content-header clearfix">

    <h2 {% if is_desktop %}class="pull-left"{% endif%}>{% if app_type %}{{ app_type }}{% else %}Study{% endif %}</h2>

    <div {% if is_desktop %}class="pull-right"{% endif%}>
        <div class="pull-left" style="margin-right:20px;">Total: <span class="">{{ count }}</span></div>
        <div class="pull-right">
            Display: <a class="btn btn-default btn-xs" href="/manager/spaces/?app_type={{ app_type }}">all</a> <a class="btn btn-default btn-xs" href="/manager/spaces/?app_type={{ app_type }}&is_published=true">published</a> <a class="btn btn-default btn-xs" href="/manager/spaces/?app_type={{ app_type }}&is_published=false">Draft</a>
        </div>
    </div>

</div>

<div style="margin-top: 15px;" class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</td>
                <th>Name</td>
                <th>Campus</td>
                <th>Building</td>
                <th>Space type</td>
                <th>Status</td>
            </tr>
        </thead>
        <tbody>

            {% for spot in spots %}
            <tr data-spotid="{{ spot.spot_id }}" data-etag="{{ spot.etag }}">
                <td><a href="/manager/spaces/{{ spot.spot_id }}/">{{ spot.spot_id }}</a></td>
                <td><strong>{{ spot.name }}</strong></td>
                <td>{% if spot.campus %}{{ spot.campus }}{% else %}<small class="text-danger">missing</small>{% endif %}</td>
                <td>{% if spot.building_name %}{{ spot.building_name }}{% else %}<small class="text-danger">missing</small>{% endif %}</td>
                <td>{% for type in spot.spot_types %}{{ type.name }}, {% empty %}<small class="text-danger">missing</small>{% endfor %}</td>
                <td>{% if spot.is_hidden %}DRAFT{% else %}PUBLISHED{% endif %}</td>
            </tr>
            {% empty %}
            There are no spots for you to see!
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}
