{% extends "scout_manager/app.html" %}
{% load staticfiles %}

{% block web_content %}   
<div class="intro_text">
    <p>This is space.html. You edit a space here.</p>
</div>  

<h2>Edit Space</h2>
<!-- if has_planned change -->
<!-- & not editing planned change -->
<p>This shows currently published space information. You have edits set to be published on <span class="dummy">[planned_edit.date]</span>. <a href="/manager/space/{{ spot.spot_id }}/{{planned_id}}/">edit</a></p>
<!-- IS editing planned change -->
<p>These edits are set to be published on <input type=date name="planned_date" placeholder="planned_edit.date">. <a href="/manager/space/{{ spot.spot_id }}/">edit currently published info</a> 

<form>
    <div>
        
        
        <h3>General Info</h3>
        <div>
            <label for="space-name">Name:</label><input id="space-name" type="text" required>
        </div>
        <div>
            <label for="space-campus" required>Campus:</label>
            <select>
                <option>Bothell</option>
                <option selected>Seattle</option>
                <option>South Lake Union</option>
                <option>Tacoma</option>
            </select>
        </div>
        <fieldset>
            <legend>Location:</legend>
            <label for="space-latitude">Latitude</label><input id="space-latitude" type="text" required>
            <label for="space-longitude">Longitude</label><input id="space-longitude" type="text" required>
        </fieldset> 
        <div>
            <label><input type="checkbox" value="Outdoor">Outdoor location</label>
        </div> 
        <div>
            <!-- Hide if outdoor location -->
            <label for="room-number">Room #:</label><input id="room-number" type="text">
        </div>
        <div>
            <!-- Hide if outdoor location. We suggest/enforce building options. -->
            <label for="building-name">Building:</label><input id="building-name" type="text">
        </div>
        <div>
            <!-- Hide if outdoor location. We suggest floor options. -->
            <label for="floor">Floor:</label><input id="floor" type="text">
        </div>
        <div>
            <label><input type="checkbox" value="ADA">ADA Accessible</label>
        </div> 
        
        <h3>Current Alert</h3>
         <div>
            <label for="alert-notes">Post this Alert:</label><br/><textarea id="alert-notes" type="text"></textarea>
        </div>
        
        
        
        <h3>Hours and Access</h3>              
            <div>
                <fieldset>
                 <!-- Selection determines which Day hours fieldsets are shown below -->
                    <legend>Days of operation:</legend>
                    <label><input type="checkbox" value="Monday">Monday</label>
                    <label><input type="checkbox"value="Tuesday">Tuesday</label>
                    <label><input type="checkbox"value="Wednesday">Wednesday</label>
                    <label><input type="checkbox" value="Thursday">Thursday</label>
                    <label><input type="checkbox"value="Friday">Friday</label>
                    <label><input type="checkbox"value="Saturday">Saturday</label>
                    <label><input type="checkbox"value="Sunday">Sunday</label>
                </fieldset>
            <fieldset>
                <legend>Monday Hours:</legend>
                <div><input type="button" value="Add Timerange"></div>
                <ul>
                    <li>
                        <label for="monday-open">Open:</label>
                        <select id="monday-open-1">
                            <option>12:00 am</option>
                            <option>12:15 am</option>
                            <option>12:30 am</option>
                            <option>12:45 am</option>
                            <option>1:00 am</option>
                            <option>1:15 am</option>
                            <option>...</option>
                            <option>midnight</option>
                        </select>
                        <label for="monday-close-1">Close:</label><select id="monday-close-1">
                            <!-- limit close option list to times later than open choice -->
                            <option>12:00 am</option>
                            <option>12:15 am</option>
                            <option>12:30 am</option>
                            <option>12:45 am</option>
                            <option>1:00 am</option>
                            <option>1:15 am</option>
                            <option>...</option>
                            <option>midnight</option>
                        </select>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Tuesday Hours:</legend>
                <div><input type="button" value="Add Timerange"></div>
                <ul>
                    <li>
                        <label for="tuesday-open">Open:</label>
                        <select id="tuesday-open-1">
                            <option>12:00 am</option>
                            <option>12:15 am</option>
                            <option>12:30 am</option>
                            <option>12:45 am</option>
                            <option>1:00 am</option>
                            <option>1:15 am</option>
                            <option>...</option>
                            <option>midnight</option>
                        </select>
                        <label for="tuesday-close-1">Close:</label><select id="tuesday-close-1">
                            <!-- limit close option list to times later than open choice -->
                            <option>12:00 am</option>
                            <option>12:15 am</option>
                            <option>12:30 am</option>
                            <option>12:45 am</option>
                            <option>1:00 am</option>
                            <option>1:15 am</option>
                            <option>...</option>
                            <option>midnight</option>
                        </select>
                    </li>
                </ul>
            </fieldset>
        </div>
        <div>
            <label for="hours-notes">Hours Notes/Exceptions:</label><br/><textarea id="hours-notes"></textarea>
        </div>
        <div>
            <label for="access-notes">Access Notes:</label><br/><textarea id="access-notes"></textarea>
        </div>
    
    
        
        <h3>Space Description</h3>
        <div>                                 
            <label for="space-description">Description:</label><br/><textarea id="space-description" type="text"></textarea>
        </div>         
        <div>
            <fieldset>
                <legend>Primary use:</legend>
                <label><input type="checkbox" value="Food">Food Space</label>
                <label><input type="checkbox"value="Study">Study Space</label>
                <label><input type="checkbox"value="Other">Other</label>
            </fieldset>
        </div>
        <div>
            <label for="space-types">Type of space:</label>
            <select id="space-types">
                <option>Space Type 1</option>
                <option>Space Type 2</option>
                <option>Space Type 3</option>
                <option>Space Type 4</option>
            </select>
            <!-- if computer_lab -->
            <div>
                <label for="computer-count"># of computers</label><input type="number" id="computer-count">
            </div>
        </div>
        
        <!--  if "food" space -->
        <h3>Food space metadata</h3>
        <div>  
            <fieldset>
                <legend>Food location images:</legend>
                <label><input type="file" name="pic" accept="image/*"><span class="visuallyhidden">Add Image +</span></label>
                <ul>
                    <li class="dummy">
                    <span><a href="#" target="_blank" title="preview image">Image 1 URL</a></span><label for="food-default-image-1"><input type="radio" name="default-food-img" id="food-default-image-1">default</label><input type="button" value="Remove"></input>
                    </li>
                    <li class="dummy">
                    <span><a href="#" target="_blank" title="preview image">Image 2 URL</a></span><label for="food-default-image-2"><input type="radio" name="default-food-img" id="food-default-image-2">default</label><input type="button" value="Remove"></input>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Cuisine</legend>
                <label><input type="checkbox" name="cuisine" value="cuisine1">Cuisine 1(American)</label>
                <label><input type="checkbox" name="cuisine" value="cuisine2">Cuisine 2(BBQ)</label>
                <label><input type="checkbox" name="cuisine" value="cuisine3">Cuisine 3</label>
                <div>
                    <label for="menu-url">Menu URL:</label><input id="menu-url" type="url">
                </div>
            </fieldset>
            <fieldset>
                <legend>Food Served</legend>
                <label><input type="checkbox" name="food_type" value="food_type1">Food_Type 1(Appetizers)</label>
                <label><input type="checkbox" name="food_type" value="food_type2">Food_Type 2(Burgers)</label>
                <label><input type="checkbox" name="food_type" value="food_type3">Food_Type 3</label>
            </fieldset>
            <fieldset>
                <legend>Coupons</legend>
                <label for="coupon-url">Coupon URL:</label><input id="coupon-url" type="url">
                <label for="coupon-date">Expiration Date:</label><input id="coupon-date" type="date">
            </fieldset>   
            <fieldset>
                <legend>Reservations</legend>
                <label for="has-reservations-food"><input id="has-reservations-food" type="checkbox">Accepts Reservations</label>
                <div><label for="reservation-notes-food">Reservation Notes:</label><br/><textarea id="reservation-notes-food"></textarea></div>
            </fieldset>            
            <fieldset>
                <legend>Payment Type</legend>
                <label><input type="checkbox" name="payment" value="payment_type1">Payment_Type 1(Cash)</label>
                <label><input type="checkbox" name="payment" value="payment_type2">Payment_Type 2(Husky Card)</label>
                <label><input type="checkbox" name="payment" value="payment_type3">Payment_Type 3(...)</label>
            </fieldset>
        </div>
        
        <!--  if "study" space -->
        <h3>Study space metadata</h3>
        <div>
            <fieldset>
                <legend>Images of Study Space</legend>
                <label><input type="file" name="pic" accept="image/*"><span class="visuallyhidden">Add Image +</span></label>
                <ul>
                    <li class="dummy">
                    <span><a href="#" target="_blank" title="preview image">Image 1 URL</a></span><label for="study-default-image-1"><input type="radio" name="default-study-img" id="study-default-image-1">default</label><input type="button" value="Remove"></input>
                    </li>
                    <li class="dummy">
                    <span><a href="#" target="_blank" title="preview image">Image 2 URL</a></span><label for="study-default-image-2"><input type="radio" name="default-study-img" id="study-default-image-2">default</label><input type="button" value="Remove"></input>
                    </li>
                </ul>
            </fieldset>
            <div>
                <label for="capacity">Capacity</label><input type="number" id="capacity">
            </div>  
            <fieldset>
                <legend>Lighting</legend>
                <label><input type="checkbox" name="lighting" value="natural">Has Natural Light</label>
            </fieldset>
            <fieldset>
                <legend>Noise Level</legend>
                <label><input type="radio" name="noise" value="noise_level1">noise_level 1 (Silent)</label>
                <label><input type="radio" name="noise" value="noise_level2">noise_level 2 (Low hum)</label>
                <label><input type="radio" name="noise" value="noise_level3">noise_level 3 (Chatter)</label>
            </fieldset>
            <fieldset>
                <legend>Labstats</legend>
                <label for="has-labstats"><input id="has-labstats" type="url">Has Labstats integration</label>
                <label for="labstats-id">Labstats ID:</label><input id="labstats-id" type="type">
            </fieldset>   
            <fieldset>
                <legend>Reservations</legend>
                <label for="has-reservations-study"><input id="has-reservations-study" type="checkbox">Can Reserve Space</label>
                <div><label for="reservation-notes-study">Reservation Notes:</label><br/><textarea id="reservation-notes-study"></textarea></div>
            </fieldset>            
        </div>
        
        
        
        <h3>Space Administration</h3>
        <fieldset>
            <legend>Contact Info</legend>
            <label for="manager-name">Manager Name:</label><input id="manager-name" type="type">
            <label for="phone">Phone:</label><input id="phone" type="tel">
            <label for="email">Email:</label><input id="email" type="email">
            <label for="website">Website URL:</label><input id="website" type="url">
        </fieldset>
        <div>
            <label for="admin-group">Administrators of Space Information (UW Group):</label><input id="admin-group" type="text">
        </div>
        
        
        
        <h3>Items for campus use</h3>    
        <div>
            <fieldset>
                <legend>Basic Resources:</legend>
                <label><input type="checkbox"value="computer">Computer</label>
                <label><input type="checkbox"value="display">Large Display (for laptop)</label>
                <label><input type="checkbox"value="outlets">Outlets</label>
                <label><input type="checkbox"value="printing">Printing</label>
                <label><input type="checkbox"value="projector">Projector</label>
                <label><input type="checkbox" value="scanning">Scanning</label>
                <label><input type="checkbox" value="whiteboard">Whiteboard</label>
            </fieldset>
        </div>  
        <div>
            <fieldset>
                <legend>Additional Resources</legend>
                <div><a href="/manager/item/">Add New Item</a></div>
                <!--  if has_items -->
                <div>Total: <span class="dummy">Total # of items in items list</span></div>
                <ol>
                    <li>
                        <div><a href="/manager/item/{{ item_id }}">Edit</a></div>
                        <div>Name: <span class="dummy">item.name</span></div>
                        <div>Type:<span class="dummy">item_type.name</span></div>
                        <div>Category:<span class="dummy">item_category.name</span></div>
                        <div>Brand:<span class="dummy">item.brand</span></div>
                        <div>Model:<span class="dummy">item.model</span></div>
                        <div>Quantity:<span class="dummy">item.quantity</span></div>
                        <div>STF Funded: <span class="dummy">Yes</span></div>
                        <div><input type="button" value="Delete Item"></input></div>
                    </li>
                </ol>
            </fieldset>
        </div>        
        
        
        <h3>Space Actions</h3>
        <!-- When a user clicks to change status to PUBLISH, then we should validate form. It would be ideal to provide them with a condensed list of required and invalid fields that they need to address (maybe as intersticial, which they can cancel from. -->
        <div>Publish Status: <span class="dummy">Published</span><span class="dummy">Unpublished</span><input type="button" value="Toggle Publish Status"></input></div>
        <div><span>If published: <a href="/scout/space/{{ spot.spot_id }}">view in client</a></span></div>
        <div><input type="button" value="Download CSV of Space"></input></div>
        <div><input type="button" value="Delete Space"></input></div>
    
        <a href="/">Cancel</a>
        <!-- if PUBLISHED space. Behavior, goes to publish confirmation. -->
        <input type="submit" value="Save Changes"></input>
        <!-- if adding new space or editing currently UNPUBLISHED space (behavior: skips auth). -->
        <input type="submit" value="Save for later"></input>

        
    </div>
</form>
{% endblock %}