{% load staticfiles %}

<h2>UNPUBLISHED SPACES</h2>

<div>

    <div style="margin-bottom:1em;">Total: <span class="">{{ count }}</span></div>

    <div style="margin-bottom:1em;">Filter by: <span class="dummy">All</span> | <span class="dummy">Food</span> | <span class="dummy">Study</span> | <span class="dummy">Other</span></div>

    <div>
        <button type="button" class="dummy">Download CSV of listed Spaces</button>
    </div>

    <ol>
        <li>LIST OF UNPUBLISHED SPOTS</li>
    </ol>

</div>
