// sass variables

$scout-purple: #6564A8;

// header

.manager-header { position: fixed; top:0; left:0; right: 0; z-index: 999; background: #fff url('../img/scout.png') no-repeat 5px 2px; background-size:55px; border-bottom: 2px #777 solid;

    h1 { margin: 5px 0 -9px -2px; line-height: 56px; height:56px; color: $scout-purple; text-transform: uppercase; font-family: "Raleway",sans-serif; font-weight: 900; font-size: 30px; padding-left: 65px;

        a { color: $scout-purple; text-decoration: none; }
    }
}

// footer
.manager-footer { position: fixed; background: #555 url('../img/w-mini_wht.png') no-repeat 0 -3px; background-size: 50px; color:white; width: 100%; font-size: 75%; bottom:0; text-align:center; border-top: 2px #777 solid;}
