// brand override variables

$main-color: #6564A8;
$header-height: 55px;
$footer-height: 45px;

// sidebar

.mgr-sidebar { background: $main-color;

    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.32);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.32);

    z-index: 9999;
}

// header
.mgr-header {
    background: $main-color url('../img/scout.png') no-repeat 10px 50%;
    background-size: 35px;

    /*
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.32);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.32);
    */

    h1 { color: #fff;
        a { color: #fff; }
    }
}

// content
.mgr-content {

    .mgr-content-header {
        background: #f5f5f5;
        border-bottom: solid 1px #e6e6e6;
    }
}

// footer
.mgr-footer { background: $main-color url('../img/w-mini_wht.png') no-repeat 5px 50%; background-size: 30px;}
