// brand variables

$main-color: #6564A8;
$header-height: 56px;
$footer-height: 45px;


// header

.manager-header {

    h1 { color: $main-color;
        a { color: $main-color; }
    }
}

// content

.manager-content { }


// footer
.manager-footer {  }
