// default variables

$main-color: #777;
$header-height: 55px;
$footer-height: 45px;


// header

.manager-header {

    position: fixed; top:0; left:0; right: 0; z-index: 999;
    background: #fff url('../img/scout-default.png') no-repeat 10px 50%;
    background-size:35px;
    border-bottom: 2px #777 solid;

    h1 { margin: 0; line-height: $header-height; height:$header-height; padding-left:$header-height; color: $main-color; text-transform: uppercase; font-family: "Raleway",sans-serif; font-weight: 900; font-size: 30px;

        a { color: $main-color; text-decoration: none; }
    }
}

// content

.manager-content { padding-top:$header-height+2; padding-bottom:$footer-height+2; padding-left: 10px; padding-right: 10px;

    h2 {  color: #333; }
    h3 { margin-top:50px; color: #666;}

}


// footer
.manager-footer { line-height: $footer-height; position: fixed; background: #555 url('../img/w-mini_wht.png') no-repeat 5px 50%; background-size: 50px; color:white; width: 100%; font-size: 75%; bottom:0; text-align:center; border-top: 2px #777 solid;}


// global helpers

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
