// default variables
$main-color: #777;
$header-height: 55px;
$footer-height: 45px;


body { font-size: 14px; padding: 0; }

// header
.mgr-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #ddd url('../img/scout-default.png') no-repeat 10px 50%;
    background-size: 30px;
    //border-bottom: 2px #777 solid;
    h1 {
        margin: 0;
        line-height: $header-height;
        height: $header-height;
        padding-left: ($header-height - 5);
        color: $main-color;
        text-transform: uppercase;
        font-family: "Raleway",sans-serif;
        font-weight: 900;
        font-size: 25px;
        a {
            color: $main-color;
            text-decoration: none;
        }
    }
}

// content
.mgr-content {

    padding: ($header-height + 2) 15px ($footer-height + 2);

    h2 {
        color: #333;
    }
    h3 {
        color: #666;
    }

}

// footer
.mgr-footer {
    line-height: $footer-height;
    //position: fixed;
    background: #555 url('../img/w-mini_wht.png') no-repeat 5px 50%;
    background-size: 30px;
    color: white;
    width: 100%;
    font-size: 75%;
    bottom: 0;
    text-align: center;
}

// flexbox
.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-item {
    flex: 1 0;
    padding: 0;
}

.flex-item:first-child { margin-right: 10px;}

// global helpers
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
