// sass variables

$scout-purple: #6564A8;

// content

.manager-content {

    li { margin-right: 1em; margin-bottom: 2em; border: solid 1px #ddd; padding: 5px; }

    h2 {  color: #333; }
    h3 { margin-top:50px; color: #666;}

}

// global helpers

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// forms
legend {font-weight:900;}
input, select, button {margin: 8px 8px 8px 15px;}
textarea {height:120px; }
