// sass variables


// forms

textarea {
    height: 120px;
}

label {

    input[type='checkbox'],
    input[type='radio'] {
        display: inline-block;
        margin-right: 5px;
    }
}

// Temporary Classes [Delete]
.dummy {
    color: red;
}
