// temporary classes (delete)

.dummy {
    color: #bdc3c7 !important;
    * { color: #bdc3c7 !important; }
}

.scope {
    color: #e74c3c !important;
    * { color: #e74c3c !important; }
}

// sass variables

$base: #16a085;

$asphault: #34495e;
$asbestos: #7f8c8d;
$clouds: #ecf0f1;

// header

.mgr-header { position: relative; text-align: center;

    .mgr-user-name { padding-right: 20px; visibility: hidden; }
    .mgr-menu-button { position: absolute; top:5px; left:0; font-size: 26px; color: $asbestos; background: transparent; }
}

// sidebar
.mgr-sidebar { max-height: 500px; overflow-y: hidden; font-family: 'Oswald', sans-serif;  font-size: 16px; font-weight: 300; color: #999; text-transform: uppercase;

    transition-duration: .8s;
	transition-property: max-height;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	.mgr-sidebar-actions { padding: 0;

        ul { padding: 10px;  margin-bottom: 0; list-style: none; border-bottom: solid 1px darken($clouds, 5%);

            li { line-height: 40px; }
        }
        a {  display: block; line-height: 40px; color: $base; }
    }

}

.mgr-sidebar-closed { max-height: 0; }

// content

.mgr-content {

    .mgr-content-inner { position: relative;

        hr { height: 0; margin: 3em -10px 2em -10px; border: 0; border-top: 1px solid darken($clouds, 5%); }

        .well { margin: 15px 0;  background: #fff; border-color: #eee;
            p {  margin: 0; line-height: 50px; text-align: center; }
        }

        .mgr-dataset-actions {

            form { display: inline-block; }
            button {
                span { display: none; color: $asbestos; }
            }
            a { color: #333; text-decoration: none;
                span { display: none; }
            }

            /* action buttons (small) */
            .btn { border-color: transparent; /*box-shadow: none;*/ }
            .btn-default { min-width: 32px; color: $base; background: lighten($clouds, 4%); border-color: transparent; }
            .btn-danger { color: #d9534f; background: lighten($clouds, 4%); border-color: transparent;}
        }

        /* global buttons (large) */
        .btn { border-color: transparent; border-radius: 3px; box-shadow: inset 0 -2px 0 rgba(0,0,0,0.1); }
        .btn-default { color: $asphault;  text-transform: uppercase; background: $clouds; }
        .btn-primary { text-transform: uppercase; background: $base; }
        .btn-danger { text-transform: uppercase; }

    }

}

// footer

.mgr-footer { margin: 20px 10px;
    a { display: inline-block; margin-left: 5px; color: $base; text-decoration: underline; }
}
