// temporary classes (delete)

.dummy {
    color: #bdc3c7 !important;
    * { color: #bdc3c7 !important; }
}

.scope {
    color: #e74c3c !important;
    * { color: #e74c3c !important; }
}

// sass variables

$base: #6564A8;
$asbestos: #7f8c8d;
$clouds: #ecf0f1;

body { overflow-x: hidden; }

// header

.mgr-header { position: relative; text-align: center;

    .mgr-user-name { padding-right: 20px; visibility: hidden; }
    .mgr-menu-button { position: absolute; top:5px; left:0; font-size: 26px; color: $asbestos; background: transparent; }
}

// sidebar
.mgr-sidebar { max-height: 800px; overflow-y: hidden; font-family: 'Oswald', sans-serif; font-size: 16px; font-weight: 300; color: #999; text-transform: uppercase;

    transition-duration: .8s;
	transition-property: max-height;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    .fa { width: 23px; text-align: center; }

	.mgr-sidebar-actions { padding: 0;

        ul { padding: 10px;  margin-bottom: 0; list-style: none; border-bottom: solid 1px darken($clouds, 5%);

            li { line-height: 40px; }
        }
        a {  display: block; line-height: 40px; color: $base; }
    }

}

.mgr-sidebar-closed { max-height: 0; }

// content

.mgr-content {

    .mgr-content-inner { position: relative;

        ol, ul { list-style: none; margin: 0; padding: 0; }

        hr { height: 0; margin: 3em -10px 2em -10px; border: 0; border-top: 1px solid darken($clouds, 5%); }

        .mgr-dataset-actions {

            .btn { margin-right: 5px; }
            .btn-primary {
                span {color: white;}
            }
            button {
                span { display: none; color: $asbestos; }
            }
            a { color: #337ab7; text-decoration: none;
                span { display: none; }
            }

            /* action buttons (small) */
            .btn { border-color: transparent; /*box-shadow: none;*/ }
            .btn-default { min-width: 32px; color: $base; background: lighten($clouds, 4%); border-color: transparent; }
            .btn-danger { color: #d9534f; background: lighten($clouds, 4%); border-color: transparent;}
        }

        /* global buttons (large) */
        .btn { text-transform: uppercase; border-color: transparent; border-radius: 3px; box-shadow: inset 0 -2px 0 rgba(0,0,0,0.1); }
        .btn-default { color: $asbestos; background: #fff; border:solid 1px $clouds; }
        .btn-primary {  background: $base; }
        .btn-danger { }

        /* images */
        .mgr-edit-img-container { background-size: cover; background-repeat: no-repeat; border-top-left-radius: 3px; border-top-right-radius: 3px; height: 200px; }

    }

}

// footer

.mgr-footer { margin: 20px 10px;
    a { display: inline-block; margin-left: 5px; color: $base; text-decoration: underline; }
}


// bootstrap overrides

legend { border: none; margin-bottom: 5px; font-weight: 700; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333; }

textarea { resize: vertical; }

fieldset { margin-bottom: 15px; }

.form-inline {
    .form-group { margin-right: 5px; }
}

.well { background: #fff; padding: 8px 19px; margin-bottom: 0; }

.help-block { font-size: 13px; }

// bootstrap form validator

.with-errors {
    display: none;
}

.has-error {
    .with-errors { display: block !important; }
    .well { border-color: #a94442; }
}

// sticky header

.sticky { background: #fff; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 0 10px 15px 10px;
  // border-bottom: solid 1px #dde4e6;
  box-shadow: 0 0 5px rgba(57,70,78,.2);
}
