<!--  if "food" app_type -->
<h3>Food Extended Info</h3>

<fieldset>
    <legend>Spot types</legend>
    <div id="food_spot_types">
        <label><input type="checkbox" name="type" {% for type in spot.spot_types %}{% if "cafe" in type.name %} checked {% endif %}{% endfor %} value="cafe">Cafe</label>
        <label><input type="checkbox" name="type" {% for type in spot.spot_types %}{% if "food_court" in type.name %} checked {% endif %}{% endfor %} value="food_court">Food Court</label>
        <label><input type="checkbox" name="type" {% for type in spot.spot_types %}{% if "food_truck" in type.name %} checked {% endif %}{% endfor %} value="food_truck">Food Truck</label>
        <label><input type="checkbox" name="type" {% for type in spot.spot_types %}{% if "market" in type.name %} checked {% endif %}{% endfor %} value="market">Market</label>
        <label><input type="checkbox" name="type" {% for type in spot.spot_types %}{% if "restaurant" in type.name %} checked {% endif %}{% endfor %} value="restaurant">Restaurant</label>
        <label><input type="checkbox" name="type" {% for type in spot.spot_types %}{% if "cafeteria" in type.name %} checked {% endif %}{% endfor %} value="cafeteria">Cafeteria</label>
    </div>

</fieldset>

<fieldset>
    <legend>Cuisine</legend>
    <label><input type="checkbox" name="extended_info:s_cuisine" {% if "American" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_american">American</label>
    <label><input type="checkbox" name="extended_info:s_cuisine" {% if "BBQ" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_bbq">BBQ</label>
    <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Chinese" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_chinese">Chinese</label>
    <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Hawaiian" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_hawaiian">Hawaiian</label>
    <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Indian" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_indian">Indian</label>
    <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Italian" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_italian">Italian</label>
    <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Korean" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_korean">Korean</label>
    <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Mexian" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_mexican">Mexican</label>
    <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Vietnamese" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_vietnamese">Vietnamese</label>
</fieldset>

<label for="website">Website URL: <input id="website" name="extended_info:s_website_url" type="url" value="{% if spot.website_url %}{{spot.website_url}}{% endif %}" /></label>

<label for="menu-url">Menu URL:<input id="menu-url" name="extended_info:s_menu_url" type="url" value="{% if spot.menu_url %}{{spot.menu_url}}{% endif %}" /></label>

<fieldset>
    <legend>Food served</legend>
    <div id="food_select">
        <label><input type="checkbox" name="extended_info:s_food" {% if "Burgers" in spot.foodtype_names %} checked {% endif %} value="s_food_burgers">Burgers</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Breakfast" in spot.foodtype_names %} checked {% endif %} value="s_food_breakfast">Breakfast</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Curry" in spot.foodtype_names %} checked {% endif %} value="s_food_curry">Curry</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Desserts" in spot.foodtype_names %} checked {% endif %} value="s_food_desserts">Desserts</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Entrees" in spot.foodtype_names %} checked {% endif %} value="s_food_entrees">Entrees</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Espresso" in spot.foodtype_names %} checked {% endif %} value="s_food_espresso">Espresso</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Frozen Yogurt" in spot.foodtype_names %} checked {% endif %} value="s_food_frozen_yogurt">Frozen Yogurt</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Pasta" in spot.foodtype_names %} checked {% endif %} value="s_food_pasta">Pasta</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Pastries" in spot.foodtype_names %} checked {% endif %} value="s_food_pastries">Pastries</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Pho" in spot.foodtype_names %} checked {% endif %} value="s_food_pho">Pho</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Pizza" in spot.foodtype_names %} checked {% endif %} value="s_food_pizza">Pizza</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Salads" in spot.foodtype_names %} checked {% endif %} value="s_food_salads">Salads</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Sandwiches" in spot.foodtype_names %} checked {% endif %} value="s_food_sandwiches">Sandwiches</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Smoothies" in spot.foodtype_names %} checked {% endif %} value="s_food_smoothies">Smoothies</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Sushi (packaged)" in spot.foodtype_names %} checked {% endif %} value="s_food_sushi_packaged">Sushi (packaged)</label>
        <label><input type="checkbox" name="extended_info:s_food" {% if "Tacos" in spot.foodtype_names %} checked {% endif %} value="s_food_tacos">Tacos</label>
    </div>
</fieldset>

<fieldset>
    <legend>Coupons</legend>
    <label for="coupon-url">Coupon URL:
        <input id="coupon-url" name="extended_info:s_coupon_url" type="url" value="{% if spot.coupon_url %}{{ spot.coupon_url }}{% endif %}" />
    </label>
    <label for="coupon-date">Expiration Date:
        <input id="coupon-date" name="extended_info:s_coupon_expiration" type="text" value="{% if spot.coupon_expiration %}{{ spot.coupon_expiration }}{% endif %}" placeholder="mm/dd/yyyy" />
    </label>
</fieldset>

<fieldset>
    <legend>Reservations</legend>
    <label for="has-reservations-food">
        <input id="has-reservations-food" name="extended_info:s_has_reservation"type="checkbox" value="true" {% if spot.has_reservation %}checked{% endif%} />Accepts Reservations</label>
    <label for="reservation-notes-food">Reservation Notes:
        <textarea id="reservation-notes-food" name="extended_info:s_reservation_notes">{% if spot.reservation_notes %}{{spot.reservation_notes}}{% endif %}</textarea>
    </label>
</fieldset>

<fieldset>
    <legend>Payment Type</legend>
    <label><input type="checkbox" name="extended_info:s_pay" {% if "Cash" in spot.payment_names %} checked {% endif %} value="s_pay_cash">Cash</label>
    <label><input type="checkbox" name="extended_info:s_pay" {% if "Husky Card" in spot.payment_names %} checked {% endif %} value="s_pay_husky">Husky Card</label>
    <label><input type="checkbox" name="extended_info:s_pay" {% if "Dining Account" in spot.payment_names %} checked {% endif %} value="s_pay_dining">Dining Card</label>
    <label><input type="checkbox" name="extended_info:s_pay" {% if "Visa" in spot.payment_names %} checked {% endif %} value="s_pay_visa">Visa</label>
    <label><input type="checkbox" name="extended_info:s_pay" {% if "Mastercard" in spot.payment_names %} checked {% endif %} value="s_pay_mastercard">Mastercard</label>
</fieldset>
