<hr/>

<div class="row">

    <h3 class="col-md-12 scope">STF Extended Information</h3>

    <div class="col-md-4">

        <div class="form-group">
            <label for="">Description:</label>
            <textarea rows="4" class="form-control" id="" type="text" name="extended_info:i_description"></textarea>
        </div>

        <div class="form-group">
            <label for="">Brand:</label>
            <input id="" class="form-control" type="text" name="extended_info:i_brand">
        </div>

        <div class="form-group">
            <label for="">Model:</label>
            <input id="" class="form-control" type="text" name="extended_info:i_model">
        </div>

        <div class="form-group">
            <label for="">Quantity:</label>
            <input id="" class="form-control" type="number" name="extended_info:i_quantity">
        </div>

        <div class="form-group">
            <label for="">Serial Number(s):</label>
            <input class="form-control" id="" type="text" name="extended_info:i_serial_number">
            <p class="help-block">Note: separate multiple serial numbers with a comma.</p>
        </div>

        <div class="form-group">
            <label for="">UW Tag Number(s):</label>
            <input class="form-control" id="" type="text" name="extended_info:i_uw_tag_number">
            <p class="help-block">Note: separate multiple UW Tag numbers with a comma.</p>
        </div>


    </div>


    <div class="col-md-4">

        <div class="form-group">
            <label for="">Website for item info:</label>
            <input class="form-control" id="" type="url" name="extended_info:i_website">
        </div>

        <fieldset>
            <legend>Prerequisites?</legend>

            <div class="checkbox">
                <label for=""><input id="" type="checkbox" name="extended_info:i_has_prereqs" value="true">Has Prerequisites?</label>
            </div>

            <div class="form-group">
                <label for="">Prerequisites Notes:</label>
                <textarea rows="4" class="form-control" id="" name="extended_info:i_prereq_notes"></textarea>
            </div>

        </fieldset>

        <fieldset>
            <legend>Reservable?</legend>

            <div class="checkbox">
                <label for=""><input id="" type="checkbox" name="extended_info:i_has_reservation" value="true">Is Reservable?</label>
            </div>

            <div class="form-group">
                <label for="">Reservation Notes:</label>
                <textarea rows="4" class="form-control" id="" name="extended_info:i_reservation_notes"></textarea>
            </div>
        </fieldset>

    </div>

    <div class="col-md-4">

        <fieldset>
            <legend>Access Restrictions</legend>

            <div class="checkbox">
                <label><input id="" type="checkbox" name="extended_info:i_has_access_restriction" value="true">Has access restrictions?</label>
            </div>

            <label>Access limited to:</label>
            <div class="well">
                <div class="checkbox">
                    <label><input type="checkbox" name="extended_info:i_access_limit_uwnetid" value="true">UW NetID</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="extended_info:i_access_limit_role" value="true">Specific role (student/staff/faculty)</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="extended_info:i_access_limit_school" value="true">Specific School affiliation</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="extended_info:i_access_limit_department" value="true">Specific Department affiliation</label>
                </div>
            </div>

            <label>Select role(s): (show based on checkbox)</label>
            <div class="well">
                <div class="checkbox">
                    <label><input type="checkbox" name="extended_info:i_access_role_students" value="true">Students</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="extended_info:i_access_role_staff" value="true">Staff</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="extended_info:i_access_role_faculty" value="true">Faculty</label>
                </div>
            </div>

            <div class="form-group">
                <label for="">Select School: (show based on checkbox)</label>
                <!-- If SCHOOL AFFILIATION selected, show this div.  -->
                <select class="form-control" multiple>
                    <option disabled selected value>choose school...</option>
                    <option>UW School 1</option>
                    <option>UW School 2</option>
                    <option>...</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Select Department: (show based on checkbox)</label>
                <!-- If DEPARTMENT AFFILIATION selected, show this div. If SCHOOL(s) chosen, then limit list to depts within school(s). -->
                <select class="form-control" multiple>
                    <option disabled selected value>choose department...</option>
                    <option>UW Dept 1</option>
                    <option>UW Dept 2</option>
                    <option>...</option>
                </select>
            </div>



            <div class="form-group">
                <label for="">Access Notes:</label>
                <textarea rows="4" class="form-control" id="" type="text" name="extended_info:i_access_notes"></textarea>
            </div>

            <p class="help-block">Note: Access restritions and notes will only be displayed to clients IF the "Has access restrictions" checkbox is checked.</p>

        </fieldset>

    </div>

</div>
