<hr/>

<h3>Hours</h3>

<div class="row mgr-hours-group">

    {% for day_hours in spot.grouped_hours %}
    <div class="col-md-4" style="margin-bottom: 20px;">
        <div class="well">
            <fieldset class="mgr-hours" data-day="{{ day_hours.day }}">
                <legend>{{ day_hours.day|capfirst }}:</legend>

                    <div class="mgr-current-hours">
                        {% for period in day_hours.hours %}
                        <div class="mgr-hours-block">
                            <div class="form-group">
                                <label >Open:</label>
                                <input class="form-control" type="time" name="" value="{{ period.start_time|time:"H:i" }}" />
                            </div>
                            <div class="form-group">
                                <label>Close:</label>
                                <input class="form-control" type="time" name="" value="{{ period.end_time|time:"H:i" }}" />
                            </div>
                        </div>
                        {% empty %}
                        <div class="mgr-hours-block">
                            <div class="form-group">
                                <label >Open:</label>
                                <input class="form-control" type="time" name="" value="" />
                            </div>
                            <div class="form-group">
                                <label>Close:</label>
                                <input class="form-control" type="time" name="" value="" />
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="mgr-dataset-actions">
                        <button type="button" value="clear hours" title="clear hours" class="btn btn-default btn-sm mgr-clear-hours"><i class="fa fa-eraser"></i> <span>Clear hours</span></button>
                        <button type="button" value="add hours" title="add hours" class="btn btn-default btn-sm mgr-add-hours"><i class="fa fa-plus"></i> <span>Add hours</span></button>
                    </div>

            </fieldset>
        </div>
    </div>
    {% endfor %}

</div>

<div class="form-group">
    <label for="hours-notes">Hours Notes:
    <a type="button" class="help-link" data-toggle="modal" data-target="#help_hours_notes" title="More info: Hours Notes" >
              <i class="fa fa-info-circle fa-2" aria-hidden="true"></i><span class="visually-hidden">More information</span>
            </a></label>
    <textarea class="form-control" rows="4" id="hours-notes" name="extended_info:hours_notes">{% if spot.hours_notes %}{{spot.hours_notes}}{% endif %}</textarea>
</div>

