<hr/>
<script type="text/javascript">
    window.campus_locations = {{ campus_locations | safe}};
</script>
<div class="row mgr-location">
    <h3 class="col-md-12">Location</h3>

    <div class="col-md-4 mgr-location-meta">
        
        <div class="form-group">
            <label class="control-label" for="space-campus">Campus: <span class="visually-hidden">Required</span></label>
            <select id="campus_select" class="form-control" name="extended_info:campus" required data-error="Campus selection is required.">
                <option disabled selected value>select a campus...</option>
                <option value="seattle" {% if spot.campus == "seattle" %} selected {% endif %}>Seattle</option>
                <option value="bothell" {% if spot.campus == "bothell" %} selected {% endif %}>Bothell</option>
                <option value="tacoma" {% if spot.campus == "tacoma" %} selected {% endif %}>Tacoma</option>
            </select>
            <div class="help-block with-errors" role="alert"></div>
        </div>
                {% if spot.name %}
        
             <!-- Hide if outdoor location. We suggest/enforce building options. -->
        <div class="form-group">
            <label for="building-name" class="control-label">Building:</label>
            <select id="building_select" class="form-control" name="location:building_name" {% if spot.name %}required data-error="Please select a building"{% endif %}>
                <option disabled {% if spot.building_name == '' %}selected{% endif %} value>select a building...</option>
                {% for building, campus in buildings.items %}
                <option value="{{ building }}" {% if spot.building_name == building %} selected {% endif %} data-campus="{{ campus }}">{{ building }}</option>
                {% endfor %}
            </select>
            <div class="help-block with-errors" role="alert"></div>
        </div>
        {% if spot.app_type == "food" %}
        <!-- Hide if outdoor location. We suggest floor options. -->
        <div class="form-group">
            <label for="floor">Floor: </label>
            <input class="form-control" id="floor" name="location:floor" type="text" value="{% if spot.floor %}{{ spot.floor }}{% endif %}">
        </div>

        <!-- Hide if outdoor location -->
        <div class="form-group">
            <label for="room-number">Room #: </label>
            <input class="form-control" id="room-number" name="location:room_number" type="text" value="{% if spot.room_number %}{{ spot.room_number }}{% endif %}">
        </div>
        {% endif %}
        {% if spot.app_type == "study" %}
        <div class="form-group">
            <label for="location-description">Location Description:
            <a type="button" class="help-link" data-toggle="modal" data-target="#help_location" title="More info: Location Description" >
              <i class="fa fa-info-circle fa-2" aria-hidden="true"></i><span class="visually-hidden">More information</span>
            </a>
            </label>
            <textarea name="extended_info:location_description" rows="2" class="form-control" id="location-description" type="text" required data-error="A location description is required."></textarea>
            <p class="help-block">Note: Combine building name, room number, floor, and directional orientation to create a location description that can guide students to the space. Please read more about formatting and see examples.</p>
            <div class="help-block with-errors" role="alert"></div>
        </div>
        {% endif %}
        {% endif %}

        <hr/>

        <div class="form-group">
            <label for="space_latitude" class="control-label">Latitude: <span class="visually-hidden">Required</span></label>
            <p class="help-block">Drop pin on map to get coordinates. Drag pin for precise positioning. </p>
            <input class="form-control" name="location:latitude" id="space_latitude" type="text" value="{% if spot.latitude %}{{ spot.latitude }}{% endif %}" required data-error="Latitude is required." />
            <div class="help-block with-errors" role="alert"></div>
        </div>

        <div class="form-group">
            <label for="space_longitude" class="control-label">Longitude: <span class="visually-hidden">Required</span></label>
            <p class="help-block">Drop pin on map to get coordinates. Drag pin for precise positioning. </p>
            <input class="form-control" name="location:longitude" id="space_longitude" type="text" value="{% if spot.longitude %}{{ spot.longitude }}{% endif %}" required data-error="Longitude is required." />
            <div class="help-block with-errors" role="alert"></div>
        </div>

    </div>

    <div class="col-md-8 mgr-location-chooser">
        <div class="form-group">
            <label for="space-latitude space-longitude">{% if spot.name %}Drag the marker for precise location positioning.{% else %}Click on map for coordinates. Drag marker for precise positioning.{% endif %}</label>
            <div style="border: solid 1px #c8c8c8; border-radius:3px; height:500px; margin: 0;" id="gmap_chooser">Google Maps here</div>
        </div>
    </div>

</div>
