<hr/>

<h3>Images</h3>

<div class="form-group col-md-12">
    <div class="form-group">
        <label>Add Image:</label>
    <input class="" type="file" name="" accept="image/*" id="mgr_upload_image" style="padding-top: 10px;">
    </div>
    <div class="mgr-dataset-actions ">
        <button class="btn btn-primary btn-sm" id="mgr_upload_button" type="button" style="display:none;" value="upload-{% if spot.item %}item-{% endif %}image"><i class="fa fa-upload"></i> <span>Upload Image</span></button>
    </div>
    <p class="help-block">Note: You must click on "Upload Image" after selecting your image.</p>
</div>

<div id="mgr_list_spot_images" class="row">


    {% if spot.item %}

        {% for image in spot.item.images %}
        <div class="col-md-4">
            <div class="well" style="padding:0;">
                <div class="mgr-edit-img-container" data-url="/manager/item/images/{{ spot.item.item_id }}/image/{{ image.image_id }}/" data-id="{{ image.image_id }}"></div>
                    <div class="mgr-dataset-actions" style="padding:19px;">
                    <button class="btn btn-danger btn-sm mgr-delete-image" type="button"><i class="fa fa-trash"></i> <span>Delete Image</span></button>
                    &nbsp;&nbsp;
                    {% if forloop.first %}
                    Default Image
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

    {% else %}

        {% for image in spot.images %}
         <div class="col-md-4">
             <div class="well" style="padding:0;">
                 <div class="mgr-edit-img-container" data-url="/manager/images/{{ spot.spot_id }}/image/{{ image.image_id }}/" data-id="{{ image.image_id }}"></div>
                 <div class="mgr-dataset-actions" style="padding:19px;">
                     <button class="btn btn-danger btn-sm mgr-delete-image" type="button"><i class="fa fa-trash"></i> <span>Delete Image</span></button>&nbsp;&nbsp;
                     {% if forloop.first %}
                     Default Image
                     {% else %}
                     {% endif %}
                 </div>
            </div>
        </div>
        {% endfor %}
        
    {% endif %}

</div>
<div id="mgr_list_spot_empty" class="help-block col-md-12">There are no images.</div>

