<h3>Hours and Access</h3>


<div class="clearfix">
{% for day_hours in spot.grouped_hours %}
<fieldset class="mgr-hours" data-day="{{ day_hours.day }}" style="float:left; margin-right: 10px; width: 13%; ">
    <legend>{{ day_hours.day|capfirst }}:</legend>
    <ul>
        <li class="flex-container">
            <div class="flex-item">
                <div class="mgr-current-hours">
                    {% for period in day_hours.hours %}
                    current hours
                    <div class="mgr-hours-block">
                        <label for="">Open:<input type="time" name="" value="{{ period.start_time|time:"H:i" }}" /></label>
                        <label for="">Close:<input type="time" name="" value="{{ period.end_time|time:"H:i" }}" /></label>
                    </div>

                    {% empty %}
                    no hours.. add some?
                    <div class="mgr-hours-block">
                        <label for="">Open:<input type="time" name="" value="" /></label>
                        <label for="">Close:<input type="time" name="" value="" /></label>
                    </div>
                    {% endfor %}
                </div>
                <input type="button" value="clear hours" title="clear hours" class="mgr-clear-hours">
                <input type="button" value="add hours" title="add hours" class="mgr-add-hours">
            </div>
        </li>
    </ul>
</fieldset>
{% endfor %}
</div>

<label for="hours-notes">Hours Notes/Exceptions:
    <textarea id="hours-notes"name="extended_info:hours_notes">{% if spot.hours_notes %}{{spot.hours_notes}}{% endif %}</textarea>
</label>

<label for="access-notes">Access Notes:
    <textarea id="access-notes"name="extended_info:access_notes">{% if spot.access_notes %}{{spot.access_notes}}{% endif %}</textarea>
</label>
