<!-- help modal for hours notes-->
            
            <div class="modal fade" id="help_hours_notes" tabindex="-1" role="dialog" aria-labelledby="help_hours_notes_header">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <div class="modal-header">
                    <h2 class="modal-title" id="help_hours_notes_header">Hours Notes</h4>
                  </div>
                  <div class="modal-body">

                    <h3>Definition:</h3> 
                    <p>If a space has predictable alternate hours, include or define those here. </p>
                    <h3>Format: </h3>
                    <p>Free text, no character limit (but be concise!)</p>
                    <h3>How it is used: </h3>
                    <p>This is displayed as plain text and is not searchable, so do not use 24-hour formatting. </p>
                    <h3>Example:</h3>
                    <p>"First Thursday of each month open 7:00am-8:00pm."</p>
                  </div>
                </div>
              </div>
            </div>

<!-- help modal for access notes-->
            
            <div class="modal fade" id="help_access" tabindex="-1" role="dialog" aria-labelledby="help_access_header">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <div class="modal-header">
                    <h2 class="modal-title" id="help_access_header">Access Restrictions</h4>
                  </div>
                  <div class="modal-body">

                    <h3>Definition:</h3> 
                    <p>Scout only includes spaces that are available to 100% of students at at least some point during the day. Sometimes spaces are open to all during the day but restricted to students from a specific department evenings and weekends. Other spaces with semi-restricted access include those where classes or events take priority or a key or a key card is required. These spaces can be put into SpaceScout with this "restricted access" field flagged. </p>
                    <h3>When to check the Access Restrictions checkbox:</h3>
                    <p>Check the checkbox if the space is not or may not be available 100% of the open hours, or when entry requires obtaining a key, swiping a card, or similar.</p>
                    <h3>Format: </h3>
                    <p>For Access Notes: Free text, no character limit (but be concise!)</p>
                    <h3>How it is used: </h3>
                    <p>This is displayed as plain text and is not searchable, so do not use 24-hour formatting. </p>
                    <h3>Examples of Access Notes:</h3>
                    <p>"Scheduled courses and programs have priority."</p>
                    <p>"Husky Card required for access 10pm-midnight Sun-Th."</p>
                  </div>
                </div>
              </div>
            </div>
            