<!-- help modal for Space Type -->

            <div class="modal fade" id="help_type" tabindex="-1" role="dialog" aria-labelledby="help_type_header">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <div class="modal-header">
                    <h2 class="modal-title" id="help_type_header">Space Types</h4>
                  </div>
                  <div class="modal-body">

                    <h3>Definition:</h3> 
                    <p>The category that best describe the selected space. </p>
                    <h3>Format: </h3>
                    <h4>Equipment Checkout</h4>
                    <p>Walk-up counter where technology items are checked out to students.</p>
                    <h4>Maker Space</h4>
                    <p>DIY space where people can gather to create, invent, and learn. They often have a variety of items, such as 3D printers, software, electronics, craft and hardware supplies and tools.</p>
                    <h4>Production studio</h4>
                    <p>Work space with specialized equipment or technology that suits a particular purpose, such as an audio recording studio, a video editing studio, or a multi-media studio.</p>
                  </div>
                </div>
              </div>
            </div>
