<!-- help modal for noise level-->
            
            <div class="modal fade" id="help_noise" tabindex="-1" role="dialog" aria-labelledby="help_noise_header">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <div class="modal-header">
                    <h2 class="modal-title" id="help_noise_header">Noise Levels</h4>
                  </div>
                  <div class="modal-body">

                    <h3>Definition:</h3> 
                    <p>The amount of noise that is generally socially acceptable in the space.</p>
                    <h3>Format: </h3>
                    <h4>Silent</h4>
                    <p>Use when whispering is a noticeable sound in the space, such as in a silent study room. </p>
                    <h4>Quiet (Displays to students as "low hum") </h4>
                    <p>Use when it is acceptable in the space to type, shuffle papers, and hold low conversations, but not to converse at normal volume. A student called this "being able to hear other people think." </p>
                    <h4>Chatter</h4>
                    <p>Use when it is acceptable in the space to converse at normal volume.</p>
                    <h4>Variable </h4>
                    <p>Use when the noise level in the space changes throughout the day. Use for all outdoor spaces. </p>
                    <h3>When not to use it:</h3> 
                    <p>Do not list a noise level for study rooms (enclosed areas designed for one person or group), classrooms, or other spaces that are self-contained and in which the noise level of a room is determined by the current occupant(s). </p>
                    <h3>How the filter works: </h3>
                    <p>Spaces listed as "variable" will show up if the user searches for low hum or chatter. Variable spaces will not show up when users search for silent. </p>
                    <p>Spaces with no noise level listed (mostly study rooms and classrooms) will show up regardless of the user's search, since the noise level of the room is determined by the current occupant(s).</p>
                  </div>
                </div>
              </div>
            </div>
            
            
<!-- help modal for Capacity-->
            
            <div class="modal fade" id="help_capacity" tabindex="-1" role="dialog" aria-labelledby="help_capacity_header">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <div class="modal-header">
                    <h2 class="modal-title" id="help_capacity_header">Capacity</h4>
                  </div>
                  <div class="modal-body">

                    <h3>Definition:</h3> 
                    <p>The number of seats in the space.</p>
                    <h3>Format: </h3>
                    <p>Number</p>
                    <h3>When not to use it:</h3> 
                    <p> Never use it for spaces that are "open space" or "outdoor area" types. Also, don't use it if you have "computer lab," "lounge," "study area," or "conference/classroom" spaces that have a capacity greater than 20. </p>
                    <h3>How the filter works: </h3>
                    <p>If the student performs a search for a room of x capacity, all rooms that are x capacity or greater will be returned. Spaces with no capacity listed will show up for any search (since there, x=0). This means that students looking for enough space for just a few students will still see these large or open areas in their search results, since they are appropriate spaces for small groups. (It also means you don't have to get an accurate count of seats in large areas.) </p>
                  </div>
                </div>
              </div>
            </div>
            

<!-- help modal for Space Type -->
            
            <div class="modal fade" id="help_type" tabindex="-1" role="dialog" aria-labelledby="help_type_header">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <div class="modal-header">
                    <h2 class="modal-title" id="help_type_header">Space Types</h4>
                  </div>
                  <div class="modal-body">

                    <h3>Definition:</h3> 
                    <p>The category or categories (up to two) that best describe the selected space. </p>
                    <h3>Format: </h3>
                    <h4>Study room</h4>
                    <p>Enclosed space for individual or group</p>
                    <h4>Study area</h4>
                    <p>Unenclosed space for individual or group</p>
                    <h4>Computer lab</h4>
                    <p>Group of computer stations; number of computers grouped together should equal something students would call a “lab”</p>
                    <h4>Production studio</h4>
                    <p>Work space with specialized equipment or technology, such as a multi-media studio</p>
                    <h4>Conference/classroom</h4>
                    <p>Larger-capacity rooms primarily used for classes, meetings, or workshops</p>
                    <h4>Open space</h4>
                    <p>Area for use by multiple individuals or groups; may contain a range of furniture -- carrels, tables, lounge furniture</p>
                    <h4>Lounge</h4>
                    <p>Indoor casual space, typically with lounge furniture and low tables</p>
                    <h4>Café</h4>
                    <p>Space that functions primarily as an eatery</p>
                    <h4>Outdoor area</h4>
                    <p>Outdoor casual space</p>             
                  </div>
                </div>
              </div>
            </div>

