{% load staticfiles %}
{% csrf_token %}

<div class="alert hidden" role="alert" id="pub_error"></div>

<div class="clearfix sticky" style="margin-bottom:1em;">
    <h2 class="pull-left" id="sub_header">{% if spot.item.name %}{{ spot.item.name }}{% else %}Add New Item{% endif %}</h2>
    <div class="pull-right">

            {% if spot.item.is_active %}
            <div class="scout-published">
                <span class="text-muted item-help"></span>&nbsp;&nbsp;&nbsp;
                <input id="submit_item" type="button" class="btn btn-primary" value="Publish Changes" style="display:inline-block;"></input>
            </div>
            {% else %}
            <div class="scout-draft">
                <span class="text-muted"></span>&nbsp;&nbsp;&nbsp;
                <input id="submit_item" type="button" class="btn btn-primary" value="Save Draft" style="display:inline-block;"></input>
            </div>
            {% endif %}


    </div>
</div>


<div class="row">
<div class="col-md-8">

<h3>General Information</h3>

<div class="col-md-8">
        <div class="form-group">
            <label for="item_name">Name</label>
            <input id="item_name" name="name" value="{% if spot.item.name %}{{ spot.item.name }}{% endif %}" class="form-control" type="text" required data-error="Please provide a name for this item." />
            <div class="help-block with-errors" role="alert"></div>

            <input type="hidden" name="id" value="{{ spot.item.item_id }}" />
            <input type="hidden" id="spot_id_input" name="spot_id" value="{{ spot.spot_id }}" />
            <input type="hidden" name="etag" value="{{ spot.etag }}" />
            <input type="hidden" name="extended_info:cte_type_id" value="{{ spot.item.cte_type_id }}" />
        </div>
    </div>
    <div class="col-md-4">

       <div class="form-group">
                <label for="">Quantity:</label>
                <input id="" class="form-control" type="number" value="{{ spot.item.quantity }}" name="extended_info:i_quantity">
            </div>
           </div>

        <div class="col-md-12">
            <div class="form-group">
            <label for="">Description:</label>
            <textarea rows="4" class="form-control" id="" type="text" required name="extended_info:i_description">{{ spot.item.description }}</textarea>
            <div class="help-block with-errors" role="alert"></div>
            </div>

        <fieldset class="radio-group required">
            <legend for="">Category</legend>
            <div class="well" id="item_category">
                <div class="radio"><label><input type="radio" name="category" {% if "cameras" in spot.item.category %} checked {% endif %} value="cameras">Cameras</label></div>
                <div class="radio"><label><input type="radio" name="category" {% if "camera_accessories" in spot.item.category %} checked {% endif %} value="camera_accessories">Camera Accessories</label></div>
                <div class="radio"><label><input type="radio" name="category" {% if "computers" in spot.item.category %} checked {% endif %} value="computers">Computers</label></div>
                <div class="radio"><label><input type="radio" name="category" {% if "computer_accessories" in spot.item.category %} checked {% endif %} value="computer_accessories">Computer Accessories</label></div>
                <div class="radio"><label><input type="radio" name="category" {% if "audio_systems" in spot.item.category %} checked {% endif %} value="audio_systems">Audio Systems</label></div>
                <div class="radio"><label><input type="radio" name="category" {% if "audio_accessories" in spot.item.category %} checked {% endif %} value="audio_accessories">Audio Accessories</label></div>
            </div>
            <div class="help-block with-errors" role="alert">Please select a category.</div>
        </fieldset>

        <fieldset class="radio-group required">
            <legend>Subcategory</legend>
            <div class="well" id="item_subcategory" style="min-height:40px;">

                <div class="subcategory" style="" id="category_cameras">
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Digital Camera" in spot.item.subcategory %} checked {% endif %} value="Digital Camera">Digital Camera</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Digital Video Camera" in spot.item.subcategory %} checked {% endif %} value="Digital Video Camera">Digital Video Camera</label></div>
                </div>

                <div class="subcategory" style="display:none;" id="category_camera_accessories">
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "DSLR Accessories - Light Kit" in spot.item.subcategory %} checked {% endif %} value="DSLR Accessories - Light Kit">Light Kit</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "DSLR Accessories - Macro Lens" in spot.item.subcategory %} checked {% endif %} value="DSLR Accessories - Macro Lens">Macro Lens</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "DSLR Accessories - Macro Ring Lite Flash" in spot.item.subcategory %} checked {% endif %} value="DSLR Accessories - Macro Ring Lite Flash">Macro Ring Lite Flash</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "DSLR Accessories - Shoe Mount Flash" in spot.item.subcategory %} checked {% endif %} value="DSLR Accessories - Shoe Mount Flash">Shoe Mount Flash</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "DSLR Accessories - SLR Remote" in spot.item.subcategory %} checked {% endif %} value="DSLR Accessories - SLR Remote">SLR Remote</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "DSLR Accessories - Telephoto Lens" in spot.item.subcategory %} checked {% endif %} value="DSLR Accessories - Telephoto Lens">Telephoto Lens</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "DSLR Accessories - Wide Angle Lens" in spot.item.subcategory %} checked {% endif %} value="DSLR Accessories - Wide Angle Lens">Wide Angle Lens</label></div>
                </div>

                <div class="subcategory" style="display:none;" id="category_computers">
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Laptop Computer" in spot.item.subcategory %} checked {% endif %} value="Laptop Computer">Laptop Computer</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Tablet Computer" in spot.item.subcategory %} checked {% endif %} value="Tablet Computer">Tablet Computer</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Calculator" in spot.item.subcategory %} checked {% endif %} value="Calculator">Calculator</label></div>
                </div>

                <div class="subcategory" style="display:none;" id="category_computer_accessories">
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Blu-ray Burner" in spot.item.subcategory %} checked {% endif %} value="Blu-ray Burner">Blu-ray Burner</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Digital Pen Tablet" in spot.item.subcategory %} checked {% endif %} value="Digital Pen Tablet">Digital Pen Tablet</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "External Hard Drive" in spot.item.subcategory %} checked {% endif %} value="External Hard Drive">External Hard Drive</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Data Projector" in spot.item.subcategory %} checked {% endif %} value="Data Projector">Data Projector</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Power Point Remote" in spot.item.subcategory %} checked {% endif %} value="Power Point Remote">Power Point Remote</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Projection Screen" in spot.item.subcategory %} checked {% endif %} value="Projection Screen">Projection Screen</label></div>
                </div>

                <div class="subcategory" style="display:none;" id="category_audio_systems">
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Portable Audio System" in spot.item.subcategory %} checked {% endif %} value="Portable Audio System">Portable Audio System</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Voice Recorder/MP3 player" in spot.item.subcategory %} checked {% endif %} value="Voice Recorder/MP3 player">Voice Recorder/MP3 player</label></div>
                </div>

                <div class="subcategory" style="display:none;" id="category_audio_accessories">
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Microphone Stands" in spot.item.subcategory %} checked {% endif %} value="Microphone Stands">Microphone Stands</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Shotgun Microphone" in spot.item.subcategory %} checked {% endif %} value="Shotgun Microphone">Shotgun Microphone</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Tripod" in spot.item.subcategory %} checked {% endif %} value="Tripod">Tripod</label></div>
                    <div class="radio"><label><input type="radio" name="subcategory" {% if "Wireless Microphone System" in spot.item.subcategory %} checked {% endif %} value="Wireless Microphone System">Wireless Microphone System</label></div>
                </div>

            </div>
            <div class="help-block with-errors" role="alert">Please select a subcategory.</div>

        </fieldset>
        </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Brand:</label>
                    <input id="" class="form-control" type="text" value="{{spot.item.brand}}" required name="extended_info:i_brand">
                    <div class="help-block with-errors" role="alert"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Model: </label>
                    <input id="" class="form-control" type="text" value="{{ spot.item.model }}" name="extended_info:i_model">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Manual URL:</label>
                    <input class="form-control" id="" type="text" value="{{ spot.item.manual_url }}" name="extended_info:i_manual_url">
                </div>
        </div>
    </div>

    <div class="col-md-4">

        <h3 class="">Publishing</h3>
        <div class="form-group well">
            <div>
                <label>Status: <span style="font-weight:normal;">{% if spot.item.is_active %}PUBLISHED{% else %}<span class="status-draft">Draft</span>{% endif %}</span></label>
                {% if spot.item.is_active %}
                    <a href="/{{spot.campus}}/{{spot.app_type}}/{{ spot.item.item_id }}" target="_blank" class="pull-right"><span>View in Scout</span></a>
                    {% endif %}
            </div>
            <div class="mgr-dataset-actions">
                <div class="checkbox hidden">
                    <label><input type="checkbox" name="extended_info:i_is_active" {% if spot.item.is_active %} checked{% endif %} value="true"></input>Is Active?</label>
                </div>
                {% if spot.item.is_active %}
                <div class="scout-published-actions">
                    <button type="button" id="toggle_item_active" class="btn btn-primary btn-sm"><i class="fa fa-eye-slash"></i> <span>Unpublish Item</span></button>
                    <div class="item-help-block"></div>
                </div>
                {% else %}
                <div class="scout-draft-actions">
                    <button type="button" id="toggle_item_active" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> <span>Publish Item</span></button>
                    <div class="item-help-block"></div>
                </div>
                {% endif %}

            </div>
        </div>

            <h3 >Funding source</h3>
            <div class="form-group well">
                <div class="checkbox">
                    <label><input type="checkbox" name="extended_info:i_is_stf" value="true" {% if spot.item.is_stf %}checked{% endif %}>STF funded this item</label>
                </div>
            </div>

            <hr>

            <h3>Delete Item</h3>
            <div class="form-group well">
                <div>
                    <label for="item_delete">Delete this Item?</label>
                </div>
                <div class="mgr-dataset-actions">
                    <button id="item_delete" type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> <span>Delete</span></button>
                    <div class="help-block">Note: This action cannot be undone!</div>
                </div>
            </div>

        </div>

    </div>


<hr/>

<div class="row">
    <div class="col-md-12">

        <fieldset>
            <legend><h3>Reservation Information</h3></legend>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="">Checkout Duration (days):</label>
                    <input class="form-control" id="" type="number" value="{{ spot.item.checkout_period }}" name="extended_info:i_checkout_period">
                </div>
            </div>
            <div class="col-md-10">

                <div class="form-group">
                    <label for="">Reservation URL:</label>
                    <input class="form-control" id="" type="text" value="{{ spot.item.reserve_url }}" name="extended_info:i_reserve_url">
                </div>
            </div>
            <div class="col-md-12">

                <div class="form-group">
                    <label for="">Reservation Notes:</label>
                    <textarea rows="4" class="form-control" id="" name="extended_info:i_reservation_notes">{{ spot.item.reservation_notes }}</textarea>
                </div>
            </div>
        </fieldset>

    </div>


</div>

<!-- include the images form -->
{% include "scout_manager/include/form_images.html" %}

{% if spot.item.name %}

<hr/>

<div class="row">
    <div class="col-md-12">
        <h3>Location</h3>
        <span><strong><a href="/manager/spaces/{{ spot.spot_id }}/" title="Manage Space: {{ spot.name }} ({% if spot.is_hidden %}(unpublished){% else %}PUBLISHED{% endif %})" target="_blank">{{spot.name}}</a></strong>, {{spot.building_name}}, {{spot.campus}}</span>
    </div>

</div>
{% endif %}

</div>
