{% load staticfiles %}
{% csrf_token %}

<div class="alert hidden" role="alert" id="pub_error"></div>

<div class="clearfix sticky" style="margin-bottom:1em;">

    <h2 class="pull-left">
        <span class="fa-stack fa-lg" style="position:relative; margin-top:-3px;">
            <i class="fa fa-circle fa-stack-2x"></i>
            {% if spot.app_type == "food" %}
            <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
            {% elif spot.app_type == "study" %}
            <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
            {% else %}
            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
            {% endif %}
        </span>
        {% if spot.name %}{{ spot.name }}{% else %}Add New Space{% endif %}
    </h2>

    <div class="pull-right">
        {{ spot.etag }}&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-primary" value="Save Changes" style="display:inline-block;"></input>
    </div>

</div>

<div class="row">

    <div class="col-md-8">

        <h3 class="">General Info</h3>

        <div class="form-group">
            <label for="space-name">Name:</label>
            <input type="text" class="form-control" name="name" id="space-name" value="{% if spot.name %}{{ spot.name }}{% endif %}" required="required" />
            <input type="hidden" name="id" value="{{ spot.spot_id }}" />
            <input type="hidden" name="etag" value="{{ spot.etag }}" />
        </div>

        <div class="form-group">
            <label for="space-description">Description:</label>
            <textarea name="extended_info:location_description" rows="4" class="form-control" id="space-description" type="text">{% if spot.location_description %}{{spot.location_description}}{% endif %}</textarea>
        </div>

        {% if spot.name %}
        <div>
            <p>Status: <span>{% if spot.is_hidden %}UNPUBLISHED{% else %}PUBLISHED{% endif %}</span></p>
        </div>
        <div class="mgr-dataset-actions">

            <div class="checkbox hidden">
                <label><input type="checkbox" name="extended_info:is_hidden" {% if spot.is_hidden %} checked{% endif %}></input>Is Hidden?</label>
            </div>
            {% if spot.is_hidden %}
            <button type="button" id="toggle_is_hidden" class="btn btn-default btn-sm"><i class="fa fa-eye"></i> <span>Publish</span></button>
            {% else %}
            <button type="button" id="toggle_is_hidden" class="btn btn-default btn-sm"><i class="fa fa-eye-slash"></i> <span>Unpublish</span></button>
            <a class="btn btn-default btn-sm" href="/{{spot.app_type}}/{{ spot.spot_id }}" target="_blank"><i class="fa fa-chrome"></i> <span>View</span></a>
            {% endif %}

            <button type="button" class="btn btn-danger btn-sm scope"><i class="fa fa-trash"></i> <span>Delete</span></button>
        </div>
        {% endif %}

        <fieldset style="margin-top:1em;">
            <legend>Type:</legend>

            {% if spot.app_type == "food" %}
                <div class="radio disabled">
                    <label><input type="radio" name="extended_info:app_type" required value="food" checked>Food</label>
                </div>
                <div class="radio disabled">
                    <label><input type="radio" required disabled>Study</label>
                </div>
                <div class="radio disabled">
                    <label><input type="radio" name="extended_info:app_type" required value="tech" disabled>Tech</label>
                </div>
                <p class="help-block">Note: Please contact ADMINS if you need to change this space's app_type</p>
            {% elif spot.app_type == "study" %}
                <div class="radio disabled">
                    <label><input type="radio" name="extended_info:app_type" required value="food" disabled>Food</label>
                </div>
                <div class="radio disabled">
                    <label><input type="radio" required checked>Study</label>
                </div>
                <div class="radio disabled">
                    <label><input type="radio" name="extended_info:app_type" required value="tech" disabled>Tech</label>
                </div>
                <p class="help-block">Note: Please contact ADMINS if you need to change this space's app_type</p>
            {% elif spot.app_type == "tech" %}
                <div class="radio disabled">
                    <label><input type="radio" name="extended_info:app_type" required value="food" disabled>Food</label>
                </div>
                <div class="radio disabled">
                    <label><input type="radio" required disabled>Study</label>
                </div>
                <div class="radio disabled">
                    <label><input type="radio" name="extended_info:app_type" required value="tech" checked>Tech</label>
                </div>
                <p class="help-block">Note: Please contact ADMINS if you need to change this space's app_type</p>
            {% else %}
                <div id="add_new_extended_info">
                    <div class="radio">
                        <label><input type="radio" name="extended_info:app_type" value="food">Food</label>
                    </div>
                    <div class="radio">
                        <label><input id="study_radio" type="radio">Study</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="extended_info:app_type" value="tech">Tech</label>
                    </div>
                </div>
            {% endif %}

        </fieldset>

    </div>
    <div class="col-md-4">

        <h3 class="">Administration</h3>

        <div class="form-group">
            <label for="owner">Owner/Admin Group:</label>
            <input class="form-control" id="owner" name="extended_info:owner" type="text" value="{% if spot.owner %}{{ spot.owner }}{% endif %}">
        </div>

        <div class="form-group">
            <label for="manager-name">Manager Name:</label>
            <input class="form-control" id="manager-name" name="manager" type="text" value="{% if spot.manager %}{{ spot.manager }}{% endif %}">
        </div>

        <div class="form-group">
            <label for="email" class="">Email:</label>
            <input class="form-control" id="email" name="extended_info:s_email" type="email" value="{% if spot.email %}{{ spot.email }}{% endif %}">
        </div>

        <div class="form-group">
            <label for="phone" class="">Phone:</label>
            <input class="form-control" id="phone" name="extended_info:s_phone" type="tel" value="{% if spot.phone %}{{ spot.phone }}{% endif %}">
        </div>

        <p class="help-block">Note: Some admin information may not be displayed to clients depending.</p>

    </div>

</div>


{% if spot.app_type == "food" %}
    {% include "scout_manager/include/extend_food.html" %}
{% elif spot.app_type == "study" %}
    {% include "scout_manager/include/extend_study.html" %}
{% else %}
    <div id="extended_food_template" style="display:none;">
    {% include "scout_manager/include/extend_food.html" %}
    </div>
    <div id="extended_study_template" style="display:none;">
    {% include "scout_manager/include/extend_study.html" %}
    </div>
{% endif %}

<!-- include the images form -->
{% include "scout_manager/include/form_images.html" %}

<hr/>

<div class="row mgr-location">

    <h3 class="col-md-12">Location</h3>

<div class="col-md-4 mgr-location-meta">
        <div class="form-group">
            <label for="space-campus" required>Campus:</label>
            <select class="form-control" name="extended_info:campus">
                <option disabled selected value>select a campus...</option>
                <option value="seattle" {% if spot.campus == "seattle" %} selected {% endif %}>Seattle</option>
                <option value="bothell" {% if spot.campus == "bothell" %} selected {% endif %}>Bothell</option>
                <option value="south_lake_union" {% if spot.campus == "south_lake_union" %} selected {% endif %}>South Lake Union</option>
                <option value="tacoma" {% if spot.campus == "tacoma" %} selected {% endif %}>Tacoma</option>
            </select>
        </div>

        <div class="form-group">
            <label for="space-latitude">Latitude:</label>
            <input class="form-control" name="location:latitude" id="space_latitude" type="text" value="{% if spot.latitude %}{{ spot.latitude }}{% endif %}" required />
        </div>

        <div class="form-group">
            <label for="space-longitude">Longitude:</label>
            <input class="form-control" name="location:longitude" id="space_longitude" type="text" value="{% if spot.longitude %}{{ spot.longitude }}{% endif %}" required />
        </div>


        <!-- Hide if outdoor location. We suggest/enforce building options. -->
        <div class="form-group">
            <label for="building-name">Building:</label>
            <select class="form-control" name="location:building_name">
                <option disabled selected value>select a building...</option>
                {% for building in buildings %}
                <option value="{{ building }}" {% if spot.building_name == building %} selected {% endif %}>{{ building }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Hide if outdoor location. We suggest floor options. -->
        <div class="form-group">
            <label for="floor">Floor:</label>
            <input class="form-control" id="floor" name="location:floor" type="text" value="{% if spot.floor %}{{ spot.floor }}{% endif %}">
        </div>

        <!-- Hide if outdoor location -->
        <div class="form-group">
            <label for="room-number">Room #:</label>
            <input class="form-control" id="room-number" name="location:room_number" type="text" value="{% if spot.room_number %}{{ spot.room_number }}{% endif %}">
        </div>

        <fieldset>
            <legend class="dummy">TBD</legend>
            {# How are we determining this? #}
            <div class="checkbox">
                <label class="dummy"><input type="checkbox" value="ADA" disabled>ADA Accessible</label>
            </div>
            {# How are we determining this? #}
            <div class="checkbox">
                <label class="dummy"><input type="checkbox" value="Outdoor" disabled>Outdoor location</label>
            </div>
        </fieldset>

    </div>
    <div class="col-md-8 mgr-location-chooser">
        <div class="form-group">
            <label for="space-latitude">Location chooser:</label>
            <div style="border: solid 1px #c8c8c8; border-radius:3px; height:500px; margin: 0;" id="gmap_chooser">Google Maps here</div>
            <p class="help-block">{% if spot.name %}Drag the marker to the desired location of the space.{% else %}Click on map to drop a pin on the location of your space and drag marker for precise positioning.{% endif %}</p>
        </div>
    </div>

</div>

<hr/>

<h3>Current Alert</h3> {# we need to set has_alert too to show it #}

<div class="checkbox">
    <label><input name="extended_info:has_alert" type="checkbox" value="true" {% if spot.has_alert %}checked{% endif %}>Alert Enabled</label>
</div>

<div class="form-group">
    <label for="alert-notes">Post this Alert message:</label>
    <textarea class="form-control" rows="4" id="alert-notes" name="extended_info:alert_notes">{% if spot.alert_notes %}{{ spot.alert_notes }}{% endif %}</textarea>
    <p class="help-block">Note: Alert message will only be displayed to clients IF the "Alert Enabled" checkbox is checked.</p>
</div>

<hr/>

<!-- include the hour and access form -->
{% include "scout_manager/include/form_hours.html" %}

<hr style="border-top:solid 10px #ecf0f1;"/>

<!-- if space has items -->

<h3>Item(s)</h3>

<p><a class="scope" href="/manager/items/add/">Add New Item to this space</a></p>
<p>Total: <span class="scope">xxxxxx</span></p>

<div style="margin-top: 15px;" class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</td>
                <th>Name</td>
                <th>Type</td>
                <th>Category</td>
                <th>Brand</td>
                <th>Model</td>
                <th><span class="sr-only">Actions</span></td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>0001</td>
                <td>Solidoodle 4 (Black)</td>
                <td>Printer</td>
                <td>3d Printer</td>
                <td>Solidoodle</td>
                <td>4</td>
                <td>
                    <div class="mgr-dataset-actions">
                        <button type="button" class="btn btn-danger btn-sm scope"><i class="fa fa-trash"></i> <span>Delete</span></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>0002</td>
                <td>Nikon D7000 DSLR Camera</td>
                <td>Digital Camera</td>
                <td>Camera</td>
                <td>Nikon</td>
                <td>D7000</td>
                <td>
                    <div class="mgr-dataset-actions">
                        <button type="button" class="btn btn-danger btn-sm scope"><i class="fa fa-trash"></i> <span>Delete</span></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>0003</td>
                <td>Apple Macbook Pro 2011</td>
                <td>Laptop</td>
                <td>Cool Laptops</td>
                <td>Apple</td>
                <td>Macbook Pro</td>
                <td>
                    <div class="mgr-dataset-actions">
                        <button type="button" class="btn btn-danger btn-sm scope"><i class="fa fa-trash"></i> <span>Delete</span></button>
                    </div>
                </td>
            </tr>

            {% for item in items %}
            <tr>
                <td>{{ item.item_id }}</a></td>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.sub_category }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.model }}</td>
                <td>
                    <div class="mgr-dataset-actions">
                        <button type="button" class="btn btn-danger btn-sm scope"><i class="fa fa-trash"></i> <span>Delete</span></button>
                    </div>
                </td>
            </tr>
            {% empty %}
            There are no items for you to see!
            {% endfor %}

        </tbody>
    </table>
</div>
