{% load staticfiles %}
{% csrf_token %}
<h3>General Info</h3>

<label for="space-name">Name:
    <input id="space-name" type="text" name="name" value="{% if spot.name %}{{ spot.name }}{% endif %}" required="required" />
    <input type="hidden" name="id" value="{{ spot.spot_id }}" />
    <input type="hidden" name="etag" value="{{ spot.etag }}" />
</label>

<fieldset>
    <legend>Primary use: (required)</legend>
    <label><input type="radio" name="extended_info:app_type" value="food"{% if spot.app_type == "food"%}checked{% endif %}>Food</label>
    <label><input type="radio" name="extended_info:app_type" value="study" {% if spot.app_type == "study"%}checked{% endif %}>Study</label>
    <label><input type="radio" name="extended_info:app_type" value="other" {% if spot.app_type == "other"%}checked{% endif %}>Other (neither food or study.. tied to stuff, since stuff must belong in a spot)</label>
</fieldset>

<label for="space-description">Description:
    <textarea name="extended_info:location_description" id="space-description" type="text">{% if spot.location_description %}{{spot.location_description}}{% endif %}</textarea>
</label>

<fieldset>

    <legend>Images</legend>

    <label>Choose: <input type="file" name="" accept="image/*" id="mgr_upload_image"></label>

    <p>Preview images:</p>

    <ul id="mgr_list_spot_images">
        {% for image in spot.images %}
         <li>
             <img src="/images/{{ spot.spot_id }}/image/{{ image.image_id }}?width=100">
             <label for="study-default-image-1" class="scope"><input type="radio" name="default-study-img" id="study-default-image-1" />default</label>
             <input type="button" value="Delete image" class="mgr-delete-image" />
         </li>
        {% endfor %}
    </ul>
    <p id="mgr_list_spot_empty">Image list is empty! Add some images.</p>

</fieldset>

<fieldset>
    <legend>Location:</legend>

    <label for="space-campus" required>Campus:
        <select name="extended_info:campus">
            <option disabled selected value>select a campus...</option>
            <option value="seattle" {% if spot.campus == "seattle" %} selected {% endif %}>Seattle</option>
            <option value="bothell" {% if spot.campus == "bothell" %} selected {% endif %}>Bothell</option>
            <option value="south_lake_union" {% if spot.campus == "south_lake_union" %} selected {% endif %}>South Lake Union</option>
            <option value="tacoma" {% if spot.campus == "tacoma" %} selected {% endif %}>Tacoma</option>
        </select>
    </label>

    <label for="space-latitude">Latitude
        <input name="location:latitude" id="space-latitude" type="text" value="{% if spot.latitude %}{{ spot.latitude }}{% endif %}" required />
    </label>

    <label for="space-longitude">Longitude
        <input name="location:longitude" id="space-longitude" type="text" value="{% if spot.longitude %}{{ spot.longitude }}{% endif %}" required />
    </label>

    {# How are we determining this? #}
    <label class="dummy"><input type="checkbox" value="Outdoor" disabled>Outdoor location</label>

    <!-- Hide if outdoor location. We suggest/enforce building options. -->
    <label for="building-name">Building:
        <select name="location:building_name">
            <option disabled selected value>select a building...</option>
            {% for building in buildings %}
            <option value="{{ building }}" {% if spot.building_name == building %} selected {% endif %}>{{ building }}</option>
            {% endfor %}
        </select>
    </label>

    <!-- Hide if outdoor location. We suggest floor options. -->
    <label for="floor">Floor:
        <input id="floor" name="location:floor" type="text" value="{% if spot.floor %}{{ spot.floor }}{% endif %}">
    </label>

    <!-- Hide if outdoor location -->
    <label for="room-number">Room #:
        <input id="room-number" name="location:room_number" type="text" value="{% if spot.room_number %}{{ spot.room_number }}{% endif %}">
    </label>

    {# How are we determining this? #}
    <label class="dummy"><input type="checkbox" value="ADA" disabled>ADA Accessible</label>

</fieldset>

<h3>Current Alert</h3> {# we need to set has_alert too to show it #}
<label><input name="extended_info:has_alert" type="checkbox" value="has_alert" {% if spot.has_alert %}checked{% endif %}>Alert Enabled</label>

<label for="alert-notes">Post this Alert message:
    <textarea id="alert-notes" name="extended_info:alert_notes" type="text" value="{% if spot.alert_notes %}{{ spot.alert_notes }}{% endif %}"></textarea>
</label>

<!-- include the hour and access form -->
{% include "scout_manager/include/form_hours.html" %}

<label for="access-notes">Access Notes:
    <textarea id="access-notes"name="extended_info:access_notes">{% if spot.access_notes %}{{spot.access_notes}}{% endif %}</textarea>
</label>

<div class="flex-container">
    <div class="flex-item">

        <!--  if "food" app_type -->
        <h3>Food space metadata</h3>

        <label for="space-types">Type of space:
            <fieldset>
                <legend>Spot types</legend>
                <div id="food_spot_types">
                    <label><input type="checkbox" name="type" {% for type in spot.spot_types %}{% if "cafe" in type.name %} checked {% endif %}{% endfor %} value="cafe">Cafe</label>
                    <label><input type="checkbox" name="type" {% for type in spot.spot_types %}{% if "food_court" in type.name %} checked {% endif %}{% endfor %} value="food_court">Food Court</label>
                    <label><input type="checkbox" name="type" {% for type in spot.spot_types %}{% if "food_truck" in type.name %} checked {% endif %}{% endfor %} value="food_truck">Food Truck</label>
                    <label><input type="checkbox" name="type" {% for type in spot.spot_types %}{% if "market" in type.name %} checked {% endif %}{% endfor %} value="market">Market</label>
                    <label><input type="checkbox" name="type" {% for type in spot.spot_types %}{% if "restaurant" in type.name %} checked {% endif %}{% endfor %} value="restaurant">Restaurant</label>
                    <label><input type="checkbox" name="type" {% for type in spot.spot_types %}{% if "cafeteria" in type.name %} checked {% endif %}{% endfor %} value="cafeteria">Cafeteria</label>
                </div>

            </fieldset>
        </label>

        <fieldset>
            <legend>Cuisine</legend>
            <label><input type="checkbox" name="extended_info:s_cuisine" {% if "American" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_american">American</label>
            <label><input type="checkbox" name="extended_info:s_cuisine" {% if "BBQ" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_bbq">BBQ</label>
            <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Chinese" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_chinese">Chinese</label>
            <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Hawaiian" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_hawaiian">Hawaiian</label>
            <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Indian" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_indian">Indian</label>
            <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Italian" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_italian">Italian</label>
            <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Korean" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_korean">Korean</label>
            <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Mexian" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_mexican">Mexican</label>
            <label><input type="checkbox" name="extended_info:s_cuisine" {% if "Vietnamese" in spot.cuisinetype_names %} checked {% endif %} value="s_cuisine_vietnamese">Vietnamese</label>
        </fieldset>

        <label for="website">Website URL: <input id="website" name="extended_info:s_website_url" type="url" value="{% if spot.website_url %}{{spot.website_url}}{% endif %}" /></label>

        <label for="menu-url">Menu URL:<input id="menu-url" name="extended_info:s_menu_url" type="url" value="{% if spot.menu_url %}{{spot.menu_url}}{% endif %}" /></label>

        <fieldset>
            <legend>Food served</legend>
            <div id="food_select">
                <label><input type="checkbox" name="extended_info:s_food" {% if "Burgers" in spot.foodtype_names %} checked {% endif %} value="s_food_burgers">Burgers</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Breakfast" in spot.foodtype_names %} checked {% endif %} value="s_food_breakfast">Breakfast</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Curry" in spot.foodtype_names %} checked {% endif %} value="s_food_curry">Curry</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Desserts" in spot.foodtype_names %} checked {% endif %} value="s_food_desserts">Desserts</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Entrees" in spot.foodtype_names %} checked {% endif %} value="s_food_entrees">Entrees</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Espresso" in spot.foodtype_names %} checked {% endif %} value="s_food_espresso">Espresso</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Frozen Yogurt" in spot.foodtype_names %} checked {% endif %} value="s_food_frozen_yogurt">Frozen Yogurt</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Pasta" in spot.foodtype_names %} checked {% endif %} value="s_food_pasta">Pasta</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Pastries" in spot.foodtype_names %} checked {% endif %} value="s_food_pastries">Pastries</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Pho" in spot.foodtype_names %} checked {% endif %} value="s_food_pho">Pho</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Pizza" in spot.foodtype_names %} checked {% endif %} value="s_food_pizza">Pizza</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Salads" in spot.foodtype_names %} checked {% endif %} value="s_food_salads">Salads</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Sandwiches" in spot.foodtype_names %} checked {% endif %} value="s_food_sandwiches">Sandwiches</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Smoothies" in spot.foodtype_names %} checked {% endif %} value="s_food_smoothies">Smoothies</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Sushi (packaged)" in spot.foodtype_names %} checked {% endif %} value="s_food_sushi_packaged">Sushi (packaged)</label>
                <label><input type="checkbox" name="extended_info:s_food" {% if "Tacos" in spot.foodtype_names %} checked {% endif %} value="s_food_tacos">Tacos</label>
            </div>
        </fieldset>

        <fieldset>
            <legend>Coupons</legend>
            <label for="coupon-url">Coupon URL:
                <input id="coupon-url" name="extended_info:s_coupon_url" type="url" value="{% if spot.coupon_url %}{{ spot.coupon_url }}{% endif %}" />
            </label>
            <label for="coupon-date">Expiration Date:
                <input id="coupon-date" name="extended_info:s_coupon_expiration" type="text" value="{% if spot.coupon_expiration %}{{ spot.coupon_expiration }}{% endif %}" placeholder="mm/dd/yyyy" />
            </label>
        </fieldset>

        <fieldset>
            <legend>Reservations</legend>
            <label for="has-reservations-food">
                <input id="has-reservations-food" name="extended_info:s_has_reservation"type="checkbox" value="true" {% if spot.has_reservation %}checked{% endif%} />Accepts Reservations</label>
            <label for="reservation-notes-food">Reservation Notes:
                <textarea id="reservation-notes-food" name="extended_info:s_reservation_notes">{% if spot.reservation_notes %}{{spot.reservation_notes}}{% endif %}</textarea>
            </label>
        </fieldset>

        <fieldset>
            <legend>Payment Type</legend>
            <label><input type="checkbox" name="extended_info:s_pay" {% if "Cash" in spot.payment_names %} checked {% endif %} value="s_pay_cash">Cash</label>
            <label><input type="checkbox" name="extended_info:s_pay" {% if "Husky Card" in spot.payment_names %} checked {% endif %} value="s_pay_husky">Husky Card</label>
            <label><input type="checkbox" name="extended_info:s_pay" {% if "Dining Account" in spot.payment_names %} checked {% endif %} value="s_pay_dining">Dining Card</label>
            <label><input type="checkbox" name="extended_info:s_pay" {% if "Visa" in spot.payment_names %} checked {% endif %} value="s_pay_visa">Visa</label>
            <label><input type="checkbox" name="extended_info:s_pay" {% if "Mastercard" in spot.payment_names %} checked {% endif %} value="s_pay_mastercard">Mastercard</label>
        </fieldset>

    </div>
    <div class="flex-item">

        <!--  if "study" app_type -->
        <h3>Study space metadata</h3>

        <label for="space-types" class="dummy">Type of space:
            <fieldset>
                <legend>Spot types</legend>
                <div id="food_spot_types">
                    <label><input type="checkbox" value="xxxxx">Study room</label>
                    <label><input type="checkbox" value="xxxxx">Study area</label>
                    <label><input type="checkbox" value="xxxxx">Computer lab</label>
                    <label><input type="checkbox" value="xxxxx">Production studio</label>
                    <label><input type="checkbox" value="xxxxx">Conference/classroom</label>
                    <label><input type="checkbox" value="xxxxx">Open space</label>
                    <label><input type="checkbox" value="xxxxx">Lounge</label>
                    <label><input type="checkbox" value="xxxxx">Cafe</label>
                    <label><input type="checkbox" value="xxxxx">Outdoor area</label>
                </div>
            </fieldset>
        </label>

        <!-- if computer_lab -->
        <label for="computer-count" class="dummy"># of computers
            <input type="number" id="computer-count">
        </label>

        <label for="capacity" class="dummy">Capacity
            <input type="number" id="capacity">
        </label>

        <fieldset class="dummy">
            <legend>Has Resources:</legend>
            <label><input type="checkbox" value="computer">Computer</label>
            <label><input type="checkbox" value="display">Large Display (for laptop)</label>
            <label><input type="checkbox" value="outlets">Outlets</label>
            <label><input type="checkbox" value="printing">Printing</label>
            <label><input type="checkbox" value="projector">Projector</label>
            <label><input type="checkbox" value="scanning">Scanning</label>
            <label><input type="checkbox" value="whiteboard">Whiteboard</label>
        </fieldset>

        <fieldset class="dummy">
            <legend>Lighting</legend>
            <label>
                <input type="checkbox" name="lighting" value="natural">Has Natural Light</label>
        </fieldset>

        <fieldset class="dummy">
            <legend>Noise Level</legend>
            <label><input type="radio" name="noise" value="noise_level1">noise_level 1 (Silent)</label>
            <label><input type="radio" name="noise" value="noise_level2">noise_level 2 (Low hum)</label>
            <label><input type="radio" name="noise" value="noise_level3">noise_level 3 (Chatter)</label>
        </fieldset>

        <fieldset class="dummy">
            <legend>Labstats</legend>
            <label for="has-labstats">Labstats integration URL
                <input id="has-labstats" type="url">
            </label>
            <label for="labstats-id">Labstats ID:
                <input id="labstats-id" type="text">
            </label>
        </fieldset>

        <fieldset class="dummy">
            <legend>Reservations</legend>
            <label for="has-reservations-study">
                <input id="has-reservations-study" type="checkbox">Can Reserve Space</label>
            <label for="reservation-notes-study">Reservation Notes:
                <textarea id="reservation-notes-study"></textarea>
            </label>
        </fieldset>

    </div>
</div>

<h3>Administration</h3>

<fieldset>
    <legend>Contact Info</legend>
    <label for="owner">Owner/Admin Group:<input id="owner" name="extended_info:owner" type="text" value="{% if spot.owner %}{{ spot.owner }}{% endif %}"></label>
    <label for="manager-name">Manager Name:<input id="manager-name" name="manager" type="text" value="{% if spot.manager %}{{ spot.manager }}{% endif %}"></label>
    <label for="email" class="">Email:<input id="email" type="email" value="{% if spot.email %}{{ spot.email }}{% endif %}"></label>
    <label for="phone" class="">Phone:<input id="phone" name="phone" type="tel" value="{% if spot.phone %}{{ spot.phone }}{% endif %}"></label>
</fieldset>

<h3>Stuff Integration</h3>

<fieldset>
    <legend>Items</legend>
    <p><a href="/manager/items/add/">Add New Item</a></p>
    <!--  if has_items -->
    <p>Total: <span class="dummy">Total # of items in items list</span></p>
    <ol>
        <li>
            <div><a href="/manager/items/601234">Edit</a></div>
            <div>Name: <span class="dummy">item.name</span></div>
            <div>Type:<span class="dummy">item_type.name</span></div>
            <div>Category:<span class="dummy">item_category.name</span></div>
            <div>Brand:<span class="dummy">item.brand</span></div>
            <div>Model:<span class="dummy">item.model</span></div>
            <div>Quantity:<span class="dummy">item.quantity</span></div>
            <div>STF Funded: <span class="dummy">Yes</span></div>
            <div>
                <input type="button" value="Delete item" class="dummy"></input>
            </div>
        </li>
        <li>
            <div><a href="/manager/items/475786">Edit</a></div>
            <div>Name: <span class="dummy">item.name</span></div>
            <div>Type:<span class="dummy">item_type.name</span></div>
            <div>Category:<span class="dummy">item_category.name</span></div>
            <div>Brand:<span class="dummy">item.brand</span></div>
            <div>Model:<span class="dummy">item.model</span></div>
            <div>Quantity:<span class="dummy">item.quantity</span></div>
            <div>STF Funded: <span class="dummy">Yes</span></div>
            <div>
                <input type="button" value="Delete item" class="dummy"></input>
            </div>
        </li>
    </ol>
</fieldset>



<h3>Space Actions</h3>
<!-- When a user clicks to change status to PUBLISH, then we should validate form. It would be ideal to provide them with a condensed list of required and invalid fields that they need to address (maybe as intersticial, which they can cancel from. -->
<p>Publish Status: <span class="scope">Published</span>&nbsp;<span class="scope">Unpublished</span></p>
<p><span>If published: <a href="/detail/{{ spot.spot_id }}">view in client</a></span></p>
<fieldset>
    <legend>Publish Status</legend>
    <div>Space is Hidden: <input type="checkbox" name="extended_info:is_hidden"{% if spot.is_hidden %} checked{% endif %}></input></div>
</fieldset>

    <div style="margin-bottom:2em;">
        {{ spot.etag }}
        <!-- if UNPUBLISHED -->
        <input type="button" value="Publish" class="scope"></input> ^ Using this button for now to handle PUTing the form back to spotseeker

        <!-- This is just a temp place to put publishing errors while we're developing, will probably change once we have validation -->
        <div id="pub_error">

        </div>

        <!-- Publish will be conditional to form validation -->
        <!-- if PUBLISHED space WITH changes. Validate form. -->
        <input type="submit" value="Publish Changes" class="dummy"></input>
        <!-- if PUBLISHED -->
        <input type="button" value="Unpublish" class="dummy"></input>
    </div>

    <div class="dummy" style="margin-bottom:2em;">
        <input type="submit" value="Save Changes" />
        <input type="button" value="Cancel" />
    </div>

    <div class="dummy" style="margin-bottom:2em;">
        <input type="button" value="Download CSV of Space"></input>
    </div>

    <div class="dummy">
        <input type="button" value="Delete Space"></input>
    </div>


<h3>Incomplete items</h3>
<p>You must complete </p>
<ul class="dummy">
    <li>Invalid field name 1</li>
    <li>Invalid field name 2</li>
</ul>
